/* line 5, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 48, small/*.png */
.small-sprite, .small-menucamelot, .mobile-head .menu-link, header .mobile-close {
  background-image: url('/img/small-sea9cb6de51.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-menucamelot {
  background-position: 0 0;
}

/* line 56, little/*.png */
.little-sprite, .little-calendario, .little-fone, .preheader ul li .iconCalendar, .preheader ul li .iconPhone {
  background-image: url('/img/little-s35f732db27.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-calendario {
  background-position: 0 0;
}

/* line 84, ../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-fone {
  background-position: 0 -24px;
}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on April 4, 2016 */
@font-face {
  font-family: "gotham_mediumregular";
  src: url("../fonts/gotham-medium.eot");
  src: url("../fonts/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium.woff2") format("woff2"), url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium.svg#gotham_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gotham_lightregular";
  src: url("../fonts/gotham-light.eot");
  src: url("../fonts/gotham-light.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light.woff2") format("woff2"), url("../fonts/gotham-light.woff") format("woff"), url("../fonts/gotham-light.ttf") format("truetype"), url("../fonts/gotham-light.svg#gotham_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gotham_boldregular";
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold.woff2") format("woff2"), url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.ttf") format("truetype"), url("../fonts/gotham-bold.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 32, ../sass/utils/_fonts.sass */
body {
  font-family: "gotham_mediumregular", sans-serif;
}

/* line 2, ../sass/utils/_base.sass */
html, body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/utils/_base.sass */
.container {
  margin: 0 auto;
}

/* line 11, ../sass/utils/_base.sass */
h1, h2, h3, h4, h5 {
  font-family: "gotham_boldregular", sans-serif;
}

/* line 14, ../sass/utils/_base.sass */
a {
  text-decoration: none;
}

/* line 17, ../sass/utils/_base.sass */
p {
  line-height: 1.4;
}

/* line 22, ../sass/utils/_base.sass */
#map {
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

/* line 29, ../sass/utils/_base.sass */
.fixheader {
  position: fixed;
  top: -100vh;
  width: 100%;
  z-index: 9999999;
  display: block;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/* line 37, ../sass/utils/_base.sass */
.wrapper {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 999999;
}

/* line 44, ../sass/utils/_base.sass */
.mobile-head {
  height: 45px;
  width: 100%;
  background-color: #3d3d3d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3D3D3D', endColorstr='#FF11110F');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTEwZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(100%, #11110f));
  background-image: -moz-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: -webkit-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: linear-gradient(to bottom, #3d3d3d 0%, #11110f 100%);
  padding: 10px 0px;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
}
/* line 53, ../sass/utils/_base.sass */
.mobile-head .menu-link {
  background-position: 0 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  float: right;
}
/* line 61, ../sass/utils/_base.sass */
.mobile-head .mobile-logo {
  float: left;
}

@media (max-width: 1124px) {
  /* line 66, ../sass/utils/_base.sass */
  .wrapper {
    display: block;
  }

  /* line 69, ../sass/utils/_base.sass */
  #reserva.mobileFixed {
    display: none;
  }

  /* line 73, ../sass/utils/_base.sass */
  .mobile-reserva button {
    display: none;
    width: 100%;
    font-size: 26px;
    padding: 20px;
    background: url("../img/seta-reserva.png") right center no-repeat #738c1a;
  }
  /* line 80, ../sass/utils/_base.sass */
  .mobile-reserva button.dois {
    background: url("../img/seta-reserva2.png") right center no-repeat #738c1a;
  }

  /* line 83, ../sass/utils/_base.sass */
  .fixheader {
    display: none;
  }

  /* line 88, ../sass/utils/_base.sass */
  body {
    padding-top: 63px;
  }
}
/* line 91, ../sass/utils/_base.sass */
.preheader {
  background: #272626;
  padding: 5px;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
}
/* line 98, ../sass/utils/_base.sass */
.preheader ul li {
  display: inline-block;
  width: 31%;
  color: #8a8a8a;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 12px;
  margin: 0 1%;
  text-align: center;
}
/* line 108, ../sass/utils/_base.sass */
.preheader ul li .iconCalendar {
  background-position: 0 0;
  width: 12px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}
/* line 114, ../sass/utils/_base.sass */
.preheader ul li .iconPhone {
  background-position: 0 -24px;
  width: 13px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}
/* line 121, ../sass/utils/_base.sass */
.preheader ul li:first-of-type {
  width: 40%;
}
/* line 124, ../sass/utils/_base.sass */
.preheader ul li:nth-of-type(2) {
  width: 20%;
}
/* line 127, ../sass/utils/_base.sass */
.preheader ul li:nth-of-type(3) {
  width: 30%;
}
/* line 130, ../sass/utils/_base.sass */
.preheader ul li strong {
  font-family: "gotham_boldregular", sans-serif;
}
/* line 133, ../sass/utils/_base.sass */
.preheader ul li .phone {
  line-height: 1.4;
}
/* line 137, ../sass/utils/_base.sass */
.preheader ul li ul li {
  display: inline;
  margin: 0 12px;
}
/* line 140, ../sass/utils/_base.sass */
.preheader ul li ul li a {
  color: #8a8a8a;
}
/* line 142, ../sass/utils/_base.sass */
.preheader ul li ul li:first-of-type {
  width: 50%;
}
/* line 145, ../sass/utils/_base.sass */
.preheader ul li ul li:nth-of-type(2) {
  width: 50%;
}

/* line 148, ../sass/utils/_base.sass */
header {
  background-color: #3d3d3d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3D3D3D', endColorstr='#FF11110F');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTEwZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(100%, #11110f));
  background-image: -moz-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: -webkit-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: linear-gradient(to bottom, #3d3d3d 0%, #11110f 100%);
  padding: 10px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  height: 63px;
}
/* line 158, ../sass/utils/_base.sass */
header nav ul {
  margin-top: -9px;
}
/* line 161, ../sass/utils/_base.sass */
header .mobile-close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  background-position: 0 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 173, ../sass/utils/_base.sass */
header .logo {
  float: left;
  width: 20%;
}
/* line 177, ../sass/utils/_base.sass */
header .logo img {
  width: 100%;
  min-width: 121px;
  max-width: 242px;
  text-align: center;
}
/* line 183, ../sass/utils/_base.sass */
header .hLogo {
  width: 20%;
  display: inline-block;
  text-align: center;
}
/* line 188, ../sass/utils/_base.sass */
header nav {
  float: right;
  width: 79%;
}
/* line 192, ../sass/utils/_base.sass */
header nav ul li {
  display: inline-block;
  line-height: 60px;
  font-size: 13px;
  margin: 0 5px;
  font-family: "gotham_boldregular", sans-serif;
}
/* line 199, ../sass/utils/_base.sass */
header nav ul li a {
  text-decoration: none;
  color: #fafafa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 206, ../sass/utils/_base.sass */
header nav ul li a.active, header nav ul li a:hover {
  color: #fafafa;
  text-decoration: underline;
  font-family: "gotham_boldregular", sans-serif;
}

@media (max-width: 1124px) {
  /* line 213, ../sass/utils/_base.sass */
  .preheader {
    display: none;
  }

  /* line 216, ../sass/utils/_base.sass */
  header {
    right: -100%;
    position: fixed;
    height: 100%;
    background: #1d1d1d;
    z-index: 999999999;
    top: 0;
    width: 70%;
    padding-top: 20px;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }
  /* line 227, ../sass/utils/_base.sass */
  header.aberto {
    right: 0;
  }
  /* line 230, ../sass/utils/_base.sass */
  header .mobile-close {
    display: block;
  }
  /* line 233, ../sass/utils/_base.sass */
  header .hLogo {
    display: none;
  }
  /* line 239, ../sass/utils/_base.sass */
  header .logo img {
    padding: 10px;
    width: 70%;
    margin: 30px;
  }
  /* line 245, ../sass/utils/_base.sass */
  header nav {
    display: block;
    width: 100%;
  }
  /* line 249, ../sass/utils/_base.sass */
  header nav ul {
    margin-top: 30px;
  }
  /* line 251, ../sass/utils/_base.sass */
  header nav ul li {
    display: block;
  }
  /* line 254, ../sass/utils/_base.sass */
  header nav ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 0;
  }
}
/* line 262, ../sass/utils/_base.sass */
.container {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 270, ../sass/utils/_base.sass */
button {
  padding: 14px 20px;
  cursor: pointer;
  border: none;
  background: #738c1a;
  color: white;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 14px;
}
/* line 279, ../sass/utils/_base.sass */
button:hover span {
  margin-left: 10px;
}
/* line 282, ../sass/utils/_base.sass */
button span {
  color: #ffbc09;
  margin-left: 5px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/* line 288, ../sass/utils/_base.sass */
a {
  cursor: pointer;
}

/* line 291, ../sass/utils/_base.sass */
.icon {
  text-indent: -99999999;
}

/* line 294, ../sass/utils/_base.sass */
.next {
  background: #1f245c;
  color: white;
  width: 100%;
  padding: 10px;
}
/* line 300, ../sass/utils/_base.sass */
.next ul {
  margin: 0 auto;
  display: inline-block;
}
/* line 303, ../sass/utils/_base.sass */
.next ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 14px;
  text-align: center;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 310, ../sass/utils/_base.sass */
.next ul li:first-of-type {
  font-family: "gotham_mediumregular", sans-serif;
}
/* line 313, ../sass/utils/_base.sass */
.next ul li button {
  background: #ffbc09;
  color: #1f245c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #ffbc09;
  font-family: "gotham_boldregular", sans-serif;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 321, ../sass/utils/_base.sass */
.next ul li button:hover {
  background: #1f245c;
  color: #ffbc09;
}

@media (max-width: 1124px) {
  /* line 327, ../sass/utils/_base.sass */
  .next ul {
    width: 100%;
    display: block;
  }
  /* line 330, ../sass/utils/_base.sass */
  .next ul li {
    display: block;
    width: 100%;
    margin: 13px 0px;
  }
}
/* line 339, ../sass/utils/_base.sass */
section#incompany {
  background: #ffbc09;
  padding: 25px 0px;
}
/* line 343, ../sass/utils/_base.sass */
section#incompany h1 {
  font-size: 25px;
  color: #2d2d2d;
  display: inline-block;
  margin-right: 30px;
  line-height: 1.7;
}
/* line 349, ../sass/utils/_base.sass */
section#incompany button {
  display: inline-block;
}

@media (max-width: 700px) {
  /* line 355, ../sass/utils/_base.sass */
  section#incompany h1, section#incompany button {
    text-align: center;
    display: block;
    margin: 10px auto;
  }

  /* line 361, ../sass/utils/_base.sass */
  section#menuLinks .container {
    width: 100%;
  }
  /* line 365, ../sass/utils/_base.sass */
  section#menuLinks ul li {
    max-width: none;
    background-size: cover;
  }
}
/* line 371, ../sass/utils/_base.sass */
section#contato {
  background: #3d4490;
  padding: 30px 0px;
  color: white;
}
/* line 376, ../sass/utils/_base.sass */
section#contato .text, section#contato .fields, section#contato .message {
  width: 30%;
  margin: 0 1.5%;
  float: left;
}
/* line 382, ../sass/utils/_base.sass */
section#contato h1 {
  color: white;
  font-size: 51px;
}
/* line 386, ../sass/utils/_base.sass */
section#contato h2 {
  font-family: "gotham_lightregular", sans-serif;
  margin: 20px 0px;
  line-height: 1.4;
}
/* line 392, ../sass/utils/_base.sass */
section#contato form input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
  color: #3d4490;
  padding: 5px 10px;
}
/* line 401, ../sass/utils/_base.sass */
section#contato form textarea {
  width: 100%;
  height: 125px;
  resize: none;
  margin-bottom: 25px;
  padding: 15px 10px;
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
  color: #3d4490;
}
/* line 411, ../sass/utils/_base.sass */
section#contato form button {
  padding-left: 50px;
  padding-right: 50px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 416, ../sass/utils/_base.sass */
section#contato form button:hover {
  background: white;
  color: #1f245c;
}

@media (max-width: 860px) {
  /* line 422, ../sass/utils/_base.sass */
  section#contato .text {
    width: 95%;
  }
  /* line 424, ../sass/utils/_base.sass */
  section#contato .fields, section#contato .message {
    width: 45%;
  }
}
/* line 430, ../sass/utils/_base.sass */
footer {
  background: #353535;
  overflow: hidden;
  *zoom: 1;
  color: #fafafa;
  height: 51px;
  padding-top: 14px;
  -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
/* line 441, ../sass/utils/_base.sass */
footer .seguro {
  float: left;
  width: 35%;
  text-align: center;
  padding-top: 5px;
}
/* line 447, ../sass/utils/_base.sass */
footer .pagamentos {
  width: 50%;
  float: right;
}
/* line 451, ../sass/utils/_base.sass */
footer .pagamentos p {
  float: left;
  margin-right: 20px;
  line-height: 2.2;
}
/* line 456, ../sass/utils/_base.sass */
footer .pagamentos img {
  display: inline-block;
}

@media (max-width: 860px) {
  /* line 461, ../sass/utils/_base.sass */
  footer .pagamentos {
    float: right;
    width: 60%;
    display: block;
    margin-top: -53px;
  }
  /* line 467, ../sass/utils/_base.sass */
  footer .pagamentos p {
    display: none;
  }
  /* line 470, ../sass/utils/_base.sass */
  footer .pagamentos img {
    display: block;
    margin: 10px auto;
    float: none;
  }
  /* line 475, ../sass/utils/_base.sass */
  footer .seguro {
    margin-top: -10px;
    float: none;
    width: 30%;
    display: block;
  }
  /* line 481, ../sass/utils/_base.sass */
  footer .seguro img {
    display: block;
    margin: 10px auto;
    float: none;
  }
}
@media (max-width: 520px) {
  /* line 489, ../sass/utils/_base.sass */
  footer .pagamentos img, footer .seguro img {
    height: 27px;
    margin-top: 13px;
  }
}
/* line 495, ../sass/utils/_base.sass */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 9999999;
  top: 0;
  left: -100vw;
  overflow: hidden;
  *zoom: 1;
  background: rgba(255, 255, 255, 0.4);
  padding: 30px 0px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 509, ../sass/utils/_base.sass */
.modal .container {
  min-height: 50%;
  background: #1f1f1d;
  padding: 50px 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 515, ../sass/utils/_base.sass */
.modal .container h2 {
  font-size: 30px;
  font-family: "gotham_boldregular", sans-serif;
  text-transform: uppercase;
  margin: 20px 0px;
  color: #fdfdfd;
  text-align: center;
}
/* line 523, ../sass/utils/_base.sass */
.modal .container .divisao {
  height: 1px;
  width: 15%;
  background: #fafafa;
  margin: 30px auto 30px auto;
  display: block;
}
/* line 531, ../sass/utils/_base.sass */
.modal .container p {
  font-family: "gotham_lightregular", sans-serif;
  color: #fefefe;
  font-size: 16px;
  margin: 20px 1.5%;
}
/* line 538, ../sass/utils/_base.sass */
.modal .container ul {
  margin: 20px 0px;
}
/* line 540, ../sass/utils/_base.sass */
.modal .container ul li {
  margin: 10px 0px;
  font-family: "gotham_boldregular", sans-serif;
  color: #fdfdfd;
}
/* line 545, ../sass/utils/_base.sass */
.modal .container .form {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
}
/* line 550, ../sass/utils/_base.sass */
.modal .container .form .fields {
  overflow: hidden;
  *zoom: 1;
}
/* line 552, ../sass/utils/_base.sass */
.modal .container .form .fields input {
  float: left;
  width: 30.3%;
  margin: 0 1.5%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
/* line 559, ../sass/utils/_base.sass */
.modal .container .form .fields input::-webkit-input-placeholder {
  color: #1f1f1d;
}
/* line 563, ../sass/utils/_base.sass */
.modal .container .form .fields input:-moz-placeholder {
  color: #1f1f1d;
}
/* line 567, ../sass/utils/_base.sass */
.modal .container .form .fields input::-moz-placeholder {
  color: #1f1f1d;
}
/* line 571, ../sass/utils/_base.sass */
.modal .container .form .fields input:-ms-input-placeholder {
  color: #1f1f1d;
}
/* line 575, ../sass/utils/_base.sass */
.modal .container .form .textarea {
  display: block;
}
/* line 577, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea {
  width: 97%;
  margin: 10px 1.5%;
  display: block;
  height: 100px;
  resize: none;
  padding: 15px;
  color: #1f1f1d;
  font-family: "gotham_lightregular", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
/* line 589, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea::-webkit-input-placeholder {
  color: #1f1f1d;
}
/* line 593, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea:-moz-placeholder {
  color: #1f1f1d;
}
/* line 597, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea::-moz-placeholder {
  color: #1f1f1d;
}
/* line 601, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea:-ms-input-placeholder {
  color: #1f1f1d;
}
/* line 604, ../sass/utils/_base.sass */
.modal .container .form input, .modal .container .form label {
  display: block;
}
/* line 607, ../sass/utils/_base.sass */
.modal .container .form label {
  font-family: "gotham_lightregular", sans-serif;
  color: white;
}
/* line 611, ../sass/utils/_base.sass */
.modal .container .form input {
  height: 55px;
  width: 100%;
  color: #1f1f1d;
  font-family: "gotham_lightregular", sans-serif;
  margin: 5px 0px 15px 0px;
}
/* line 618, ../sass/utils/_base.sass */
.modal .container .form button {
  background: #738c1a;
  color: #fafafa;
  width: 30%;
  float: right;
  margin: 20px 1.5%;
  border: 2px solid #738c1a;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 627, ../sass/utils/_base.sass */
.modal .container .form button:hover {
  background: #506112;
}
/* line 630, ../sass/utils/_base.sass */
.modal .close-light, .modal .close-pi {
  background: white;
  color: #1f1f1d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid white;
  display: block;
  padding: 5px 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "gotham_boldregular", sans-serif;
  font-size: 30px;
  cursor: pointer;
}
/* line 645, ../sass/utils/_base.sass */
.modal .close-light:hover, .modal .close-pi:hover {
  background: white;
  color: #738c1a;
}
/* line 649, ../sass/utils/_base.sass */
.modal .pic {
  width: 100%;
  text-align: center;
}
/* line 653, ../sass/utils/_base.sass */
.modal .pic img {
  max-width: 100%;
}

/* line 657, ../sass/utils/_base.sass */
section#reserva {
  background: #2c2c2c;
  color: #faf9f9;
  padding: 10px 0px;
}
/* line 662, ../sass/utils/_base.sass */
section#reserva .check {
  width: 30%;
  float: left;
}
/* line 666, ../sass/utils/_base.sass */
section#reserva .check input {
  background: url("../img/seta.png") right center no-repeat #2c2c2c;
  color: #fdfdfd;
  font-family: "gotham_lightregular", sans-serif;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 17px;
  height: 55px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 679, ../sass/utils/_base.sass */
section#reserva .check label {
  font-size: 11px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 685, ../sass/utils/_base.sass */
section#reserva .reserva {
  width: 20%;
  float: left;
}
/* line 689, ../sass/utils/_base.sass */
section#reserva .fones {
  width: 20%;
  float: left;
  color: #8b8a8a;
}
/* line 694, ../sass/utils/_base.sass */
section#reserva .fones div {
  margin-bottom: 10px;
}

@media (max-width: 860px) {
  /* line 699, ../sass/utils/_base.sass */
  section#reserva .check, section#reserva .reserva, section#reserva .fones {
    width: 100%;
    float: none;
    display: block;
    margin: 15px 0px;
    text-align: center;
  }
  /* line 706, ../sass/utils/_base.sass */
  section#reserva button {
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
  }
}
/* line 712, ../sass/utils/_base.sass */
section.tour {
  padding: 40px 0px;
}
/* line 714, ../sass/utils/_base.sass */
section.tour .video {
  width: 55%;
  height: 250px;
  background: #ddd;
  float: left;
}
/* line 720, ../sass/utils/_base.sass */
section.tour .text {
  width: 40%;
  float: right;
}
/* line 724, ../sass/utils/_base.sass */
section.tour .text h2 {
  font-size: 30px;
  font-family: "gotham_lightregular", sans-serif;
  margin-bottom: 20px;
}
/* line 730, ../sass/utils/_base.sass */
section.tour .text p {
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 735, ../sass/utils/_base.sass */
section.tour .text a {
  background: #335476;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  padding: 20px;
  display: block;
  margin: 20px auto;
  font-size: 15px;
}

@media (max-width: 700px) {
  /* line 746, ../sass/utils/_base.sass */
  section.tour {
    padding-top: 0px;
  }
  /* line 748, ../sass/utils/_base.sass */
  section.tour .video, section.tour .text {
    margin: 20px 0px;
    display: block;
    float: none;
    width: 100%;
  }
}
/* line 755, ../sass/utils/_base.sass */
section.footer-subs {
  padding: 60px 0px;
  background: #fdfdfd;
}
/* line 759, ../sass/utils/_base.sass */
section.footer-subs .container {
  max-width: 600px;
}
/* line 762, ../sass/utils/_base.sass */
section.footer-subs h1 {
  font-size: 24px;
  font-family: "gotham_lightregular", sans-serif;
  line-height: 35px;
  color: #1d1d1f;
  text-align: center;
}
/* line 769, ../sass/utils/_base.sass */
section.footer-subs .divisao {
  width: 100%;
  height: 1px;
  background: #1d1d1e;
  display: block;
  margin: 50px 0px;
}
/* line 777, ../sass/utils/_base.sass */
section.footer-subs ul li {
  display: block;
  text-align: center;
  font-family: "gotham_lightregular", sans-serif;
  margin: 20px 0px;
}
/* line 783, ../sass/utils/_base.sass */
section.footer-subs .center {
  text-align: center;
}
/* line 785, ../sass/utils/_base.sass */
section.footer-subs ul.social {
  display: inline-block;
  overflow: hidden;
  *zoom: 1;
  margin: 10px auto;
}
/* line 789, ../sass/utils/_base.sass */
section.footer-subs ul.social li {
  float: left;
  margin: 5px;
}
/* line 792, ../sass/utils/_base.sass */
section.footer-subs ul.social li a {
  width: 38px;
  height: 38px;
  display: block;
  background: url("../img/facebook.png");
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 799, ../sass/utils/_base.sass */
section.footer-subs ul.social li a:hover {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 802, ../sass/utils/_base.sass */
section.footer-subs ul.social li a.instagram {
  background: url("../img/instagram.png");
}
/* line 805, ../sass/utils/_base.sass */
section.footer-subs form {
  width: 100%;
  margin: 20px auto;
  display: block;
}
/* line 809, ../sass/utils/_base.sass */
section.footer-subs form input {
  width: 100%;
  height: 50px;
  border: 1px solid #1d1d1e;
  font-family: "gotham_lightregular", sans-serif;
  color: #1d1d1e;
  font-size: 16px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 819, ../sass/utils/_base.sass */
section.footer-subs form button {
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  margin: 10px auto;
  display: block;
  background: #4c1a0d;
}

/* line 1, ../sass/pages/_home.sass */
section.banner {
  background: url("../img/banner/home1.jpg") #fff center no-repeat;
  height: 582px;
  width: 100%;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
}
/* line 7, ../sass/pages/_home.sass */
section.banner .slider {
  padding-top: 60px;
}
/* line 10, ../sass/pages/_home.sass */
section.banner .slider .content .text {
  float: left;
  width: 60%;
  position: relative;
  padding-top: 90px;
}
/* line 16, ../sass/pages/_home.sass */
section.banner .slider .content .text h1, section.banner .slider .content .text h2 {
  max-width: 90%;
  text-shadow: 1px 1px 1px #333;
  text-shadow: 1px 1px 1px 1px #333;
  width: 90%;
  color: white;
  text-align: right;
  padding-left: 50px;
  line-height: 1.5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
}
/* line 28, ../sass/pages/_home.sass */
section.banner .slider .content .text h1 {
  font-size: 27px;
  position: relative;
}
/* line 32, ../sass/pages/_home.sass */
section.banner .slider .content .text h1:after {
  content: "";
  width: 30%;
  background: #fafafa;
  height: 5px;
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  -moz-box-shadow: 1px 1px 1px 1px #333;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
}
/* line 44, ../sass/pages/_home.sass */
section.banner .slider .content .text h2 {
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 48, ../sass/pages/_home.sass */
section.banner .slider .content .reserva {
  width: 30%;
  background: rgba(8, 8, 5, 0.5);
  float: right;
  padding: 10px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 55, ../sass/pages/_home.sass */
section.banner .slider .content .reserva button {
  width: 90%;
  display: block;
  margin: 10px auto;
}
/* line 60, ../sass/pages/_home.sass */
section.banner .slider .content .reserva span.ou {
  font-size: 10px;
  text-align: center;
  width: 100%;
  color: #fafafa;
  display: block;
  font-family: "gotham_lightregular", sans-serif;
  margin: 20px 0px 10px 0px;
}
/* line 69, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .tel {
  font-size: 15px;
  text-align: center;
  width: 100%;
  color: #fafafa;
  display: block;
  margin-bottom: 10px;
}
/* line 78, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .check {
  width: 100%;
  padding: 10px 10px;
  background: rgba(7, 7, 7, 0.5);
  margin: 10px 0px;
}
/* line 85, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .check input {
  background: url("../img/seta.png") right center no-repeat transparent;
  color: #fdfdfd;
  font-family: "gotham_lightregular", sans-serif;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 17px;
  height: 45px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 97, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .check span {
  font-size: 13px;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  min-width: 20%;
  text-align: right;
  display: inline-block;
}
/* line 106, ../sass/pages/_home.sass */
section.banner .slider .content .reserva h1 {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 15px 0px;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  line-height: 1.3;
}
/* line 114, ../sass/pages/_home.sass */
section.banner .slider .content .reserva h1 span {
  display: block;
  font-size: 30px;
}

@media (max-width: 860px) {
  /* line 120, ../sass/pages/_home.sass */
  section.banner .slider {
    padding-top: 0;
  }
  /* line 123, ../sass/pages/_home.sass */
  section.banner .slider .content .text, section.banner .slider .content .reserva {
    display: block;
    float: none;
    width: 100%;
  }
  /* line 129, ../sass/pages/_home.sass */
  section.banner .slider .content .text .check input, section.banner .slider .content .reserva .check input {
    width: 65%;
    text-align: center;
  }
  /* line 132, ../sass/pages/_home.sass */
  section.banner .slider .content .text button, section.banner .slider .content .reserva button {
    width: 100%;
    padding: 15px;
    font-size: 23px;
    text-transform: uppercase;
  }
  /* line 137, ../sass/pages/_home.sass */
  section.banner .slider .content .text h1, section.banner .slider .content .reserva h1 {
    font-family: "gotham_lightregular", sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-left: 0;
  }
  /* line 145, ../sass/pages/_home.sass */
  section.banner .slider .content .text h1:after, section.banner .slider .content .reserva h1:after {
    height: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 148, ../sass/pages/_home.sass */
  section.banner .slider .content .text h2, section.banner .slider .content .reserva h2 {
    display: none;
  }
}
/* line 152, ../sass/pages/_home.sass */
section#confianca {
  padding: 50px 0px;
}
/* line 154, ../sass/pages/_home.sass */
section#confianca h1 {
  font-family: "gotham_boldregular", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #141414;
  margin: 30px 0px;
}
/* line 162, ../sass/pages/_home.sass */
section#confianca ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 164, ../sass/pages/_home.sass */
section#confianca ul li {
  width: 31%;
  float: left;
  margin: 10px 1%;
  text-align: center;
}
/* line 170, ../sass/pages/_home.sass */
section#confianca ul li h3 {
  font-size: 20px;
  margin: 10px 0px;
}
/* line 174, ../sass/pages/_home.sass */
section#confianca ul li img {
  margin: 20px auto;
}
/* line 177, ../sass/pages/_home.sass */
section#confianca ul li p {
  font-family: "gotham_lightregular", sans-serif;
  padding: 10px 30px;
}

@media (max-width: 860px) {
  /* line 183, ../sass/pages/_home.sass */
  section#confianca ul li {
    width: 100%;
    float: none;
    margin: 15px auto;
  }
}
/* line 188, ../sass/pages/_home.sass */
section#menuLinks {
  background: #080805;
  -moz-box-shadow: 0px -3px 19px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px -3px 19px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px -3px 19px 5px rgba(0, 0, 0, 0.6);
}
/* line 192, ../sass/pages/_home.sass */
section#menuLinks ul li {
  width: 50%;
  float: left;
  height: 300px;
  background: url("../img/frente.jpg");
  -moz-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 201, ../sass/pages/_home.sass */
section#menuLinks ul li:hover {
  -moz-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
}
/* line 204, ../sass/pages/_home.sass */
section#menuLinks ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 209, ../sass/pages/_home.sass */
section#menuLinks ul li a span.title {
  position: absolute;
  left: 20px;
  color: white;
  bottom: 20px;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}

@media (max-width: 860px) {
  /* line 219, ../sass/pages/_home.sass */
  section#menuLinks ul li {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 530px;
  }
}
/* line 227, ../sass/pages/_home.sass */
section#testimonials {
  padding: 60px 0px;
  background: #f5f5f5;
}
/* line 231, ../sass/pages/_home.sass */
section#testimonials .buttons a {
  float: right;
  margin: 0 10px;
  display: block;
}
/* line 236, ../sass/pages/_home.sass */
section#testimonials .buttons a button {
  border: 2px solid #738c1a;
  background: #f5f5f5;
  color: #738c1a;
  padding: 20px;
}
/* line 242, ../sass/pages/_home.sass */
section#testimonials .buttons a button:hover {
  background: #738c1a;
  color: #f5f5f5;
}
/* line 245, ../sass/pages/_home.sass */
section#testimonials h1 {
  font-family: "gotham_boldregular", sans-serif;
  font-size: 26px;
  margin: 20px 0px;
  color: #1a1a1a;
}
/* line 251, ../sass/pages/_home.sass */
section#testimonials ul {
  margin: 30px 0px;
  overflow: hidden;
  *zoom: 1;
  padding: 30px 0px;
}
/* line 255, ../sass/pages/_home.sass */
section#testimonials ul li {
  width: 24%;
  float: left;
  text-align: center;
}
/* line 260, ../sass/pages/_home.sass */
section#testimonials ul li p {
  font-size: 20px;
  color: #6f6f6f;
  font-family: "gotham_boldregular", sans-serif;
  margin-bottom: 10px;
  padding: 0 15px;
}
/* line 267, ../sass/pages/_home.sass */
section#testimonials ul li .autor {
  font-size: 15px;
  color: #6f6f6f;
  margin-bottom: 5px;
}
/* line 272, ../sass/pages/_home.sass */
section#testimonials ul li .cidade {
  font-size: 13px;
  font-family: "gotham_lightregular", sans-serif;
  color: #6f6f6f;
}
/* line 277, ../sass/pages/_home.sass */
section#testimonials ul li img {
  border: 1px solid #ddd;
  max-width: 90%;
}

@media (max-width: 860px) {
  /* line 284, ../sass/pages/_home.sass */
  section#testimonials .container {
    text-align: center;
  }
  /* line 286, ../sass/pages/_home.sass */
  section#testimonials .buttons {
    display: inline-block;
  }
  /* line 288, ../sass/pages/_home.sass */
  section#testimonials .buttons a {
    float: none;
    display: inline-block;
  }
  /* line 291, ../sass/pages/_home.sass */
  section#testimonials h1 {
    text-align: center;
  }
  /* line 293, ../sass/pages/_home.sass */
  section#testimonials ul li {
    width: 100%;
    float: none;
    margin: 15px 0px;
    padding: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 301, ../sass/pages/_home.sass */
section#socials .face, section#socials .instagram {
  width: 50%;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
/* line 307, ../sass/pages/_home.sass */
section#socials .face.face h2, section#socials .instagram.face h2 {
  text-align: center;
}
/* line 312, ../sass/pages/_home.sass */
section#socials .face.instagram a.button, section#socials .instagram.instagram a.button {
  color: #b78706;
  border-color: #b78706;
}
/* line 316, ../sass/pages/_home.sass */
section#socials .face.instagram .number, section#socials .instagram.instagram .number {
  color: #2a2a2a;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 15px;
}
/* line 320, ../sass/pages/_home.sass */
section#socials .face.instagram .number span, section#socials .instagram.instagram .number span {
  font-size: 25px;
  font-family: "gotham_boldregular", sans-serif;
}
/* line 324, ../sass/pages/_home.sass */
section#socials .face a.button, section#socials .instagram a.button {
  background: transparent;
  border: 1px solid #3b5998;
  color: #3b5998;
  display: block;
  padding: 10px 15px;
  text-align: center;
  margin: 15px auto;
  width: 60%;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 335, ../sass/pages/_home.sass */
section#socials .face h2, section#socials .instagram h2 {
  font-size: 20px;
  color: #2c2c2c;
  margin: 20px 0px;
}
/* line 340, ../sass/pages/_home.sass */
section#socials .face .bg, section#socials .instagram .bg {
  background: url("../img/faceBg.png") center no-repeat;
  min-height: 190px;
  text-align: center;
  padding-top: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #3b5998;
}
/* line 348, ../sass/pages/_home.sass */
section#socials .face .bg .numFace, section#socials .instagram .bg .numFace {
  font-size: 40px;
}
/* line 351, ../sass/pages/_home.sass */
section#socials .face .bg .people, section#socials .instagram .bg .people {
  font-family: "gotham_lightregular", sans-serif;
  padding: 0 30px;
}

@media (max-width: 860px) {
  /* line 357, ../sass/pages/_home.sass */
  section#socials .face, section#socials .instagram {
    width: 100%;
    float: none;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 1, ../sass/pages/_page.sass */
section.banner.page {
  background: url("../img/banner/acomodacoes.jpg") center no-repeat #303030;
}
/* line 4, ../sass/pages/_page.sass */
section.banner.page .content .text {
  width: 100%;
}
/* line 6, ../sass/pages/_page.sass */
section.banner.page .content .text h1 {
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
/* line 12, ../sass/pages/_page.sass */
section.banner.page .content .text h1:after {
  display: none;
}

@media (max-width: 1124px) {
  /* line 17, ../sass/pages/_page.sass */
  section.banner.page .content .text h1 {
    font-size: 35px;
    margin-top: 50px;
  }
}
/* line 21, ../sass/pages/_page.sass */
section#menuLinks.page {
  background: #fafafa;
  padding-top: 70px;
}
/* line 25, ../sass/pages/_page.sass */
section#menuLinks.page.chapada {
  background: #080805;
}
/* line 29, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .preco {
  width: 30%;
  position: absolute;
  right: 10px;
  bottom: 35px;
}
/* line 35, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .preco span {
  display: block;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  margin-bottom: 5px;
  font-size: 19px;
}
/* line 43, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .preco span.rs {
  font-size: 34px;
}
/* line 47, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo {
  width: 60%;
  position: absolute;
  left: 30px;
  bottom: 15px;
}
/* line 52, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo span {
  display: block;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 56, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo span.nome {
  font-size: 30px;
}
/* line 59, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo span.quantidade {
  font-size: 19px;
}

/* line 2, ../sass/pages/_pacotes.sass */
section.banner .navigation {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
/* line 7, ../sass/pages/_pacotes.sass */
section.banner .navigation .option {
  margin: 5px;
  float: left;
  height: 20px;
  width: 100px;
  background: rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* line 16, ../sass/pages/_pacotes.sass */
section.banner .navigation .option.active, section.banner .navigation .option:hover {
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 860px) {
  /* line 21, ../sass/pages/_pacotes.sass */
  section.banner .navigation {
    display: none;
  }
}
/* line 24, ../sass/pages/_pacotes.sass */
section.why {
  padding: 40px 0px;
  background: #f5f5f5;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 29, ../sass/pages/_pacotes.sass */
section.why .container {
  max-width: 960px;
}
/* line 31, ../sass/pages/_pacotes.sass */
section.why h1 {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 30px;
  margin: 20px 0px;
  color: #434343;
  line-height: 45px;
}
/* line 38, ../sass/pages/_pacotes.sass */
section.why p {
  font-size: 15px;
  line-height: 1.7;
  color: #434343;
}
/* line 43, ../sass/pages/_pacotes.sass */
section.why img {
  margin: 30px 0px;
  max-width: 100%;
}
/* line 48, ../sass/pages/_pacotes.sass */
section.why .divisao {
  width: 10%;
  height: 1px;
  display: block;
  background: #131313;
  margin: 65px 0px;
}
/* line 55, ../sass/pages/_pacotes.sass */
section.why ul.event {
  margin: 40px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 58, ../sass/pages/_pacotes.sass */
section.why ul.event li {
  float: left;
  width: 25%;
  margin: 0px 4%;
  text-align: center;
}
/* line 64, ../sass/pages/_pacotes.sass */
section.why ul.event li img {
  margin: 10px 0px;
}
/* line 67, ../sass/pages/_pacotes.sass */
section.why ul.event li h3 {
  font-size: 15px;
  color: #131313;
}
/* line 71, ../sass/pages/_pacotes.sass */
section.why ul.event li h4 {
  font-family: "gotham_lightregular", sans-serif;
  margin: 10px 0px;
  line-height: 1.5;
}

@media (max-width: 700px) {
  /* line 79, ../sass/pages/_pacotes.sass */
  section.why ul.event li {
    width: 100%;
    display: block;
    float: none;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 84, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text {
    padding-top: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 88, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h3, section.why ul.event li .text h4 {
    font-size: 20px;
  }
  /* line 91, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    padding: 40px;
  }
  /* line 93, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text, section.why ul.event li img {
    float: left;
    width: 50%;
    margin: 0;
  }
  /* line 99, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    padding: 25px;
  }
  /* line 103, ../sass/pages/_pacotes.sass */
  section.why ul.event li:nth-of-type(even) .text, section.why ul.event li:nth-of-type(even) img {
    float: right;
  }
}
/* line 109, ../sass/pages/_pacotes.sass */
.lists {
  overflow: hidden;
  *zoom: 1;
}
/* line 111, ../sass/pages/_pacotes.sass */
.lists ul {
  float: left;
  width: 30%;
  margin: 1.5;
}
/* line 116, ../sass/pages/_pacotes.sass */
.lists ul li {
  margin: 10px 5px;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 16px;
}
/* line 121, ../sass/pages/_pacotes.sass */
.lists ul li .i {
  display: inline-block;
  margin-right: 5px;
}
/* line 125, ../sass/pages/_pacotes.sass */
.lists ul li .i img {
  margin: 0;
}
/* line 127, ../sass/pages/_pacotes.sass */
.lists ul li:first-of-type {
  font-family: "gotham_boldregular", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

@media (max-width: 860px) {
  /* line 134, ../sass/pages/_pacotes.sass */
  .lists ul {
    width: 100%;
    margin: 30px 0px;
    float: none;
  }
}
/* line 138, ../sass/pages/_pacotes.sass */
section.infos {
  padding: 40px 0px;
  background: #e9e9e9;
}
/* line 142, ../sass/pages/_pacotes.sass */
section.infos .container {
  max-width: 960px;
}
/* line 144, ../sass/pages/_pacotes.sass */
section.infos h1 {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 30px;
  margin: 20px 0px;
  color: #434343;
}
/* line 150, ../sass/pages/_pacotes.sass */
section.infos div.line {
  content: "";
  width: 10%;
  height: 1px;
  margin: 55px 0px;
  background: #454545;
  display: block;
}
/* line 160, ../sass/pages/_pacotes.sass */
section.infos .obs {
  font-family: "gotham_lightregular", sans-serif;
}
/* line 163, ../sass/pages/_pacotes.sass */
section.infos .obs a {
  font-family: "gotham_boldregular", sans-serif;
  text-decoration: underline;
  color: #434343;
}
/* line 167, ../sass/pages/_pacotes.sass */
section.infos ul.prices {
  margin: 30px 0px;
}
/* line 169, ../sass/pages/_pacotes.sass */
section.infos ul.prices li {
  overflow: hidden;
  *zoom: 1;
  width: 50%;
  margin: 10px 0px;
}
/* line 173, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left {
  float: left;
}
/* line 175, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .text {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 12px;
  margin: 5px 0px;
}
/* line 179, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons {
  background: url("../img/person.png");
  width: 40px;
  height: 32px;
}
/* line 184, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons.two {
  width: 80px;
}
/* line 187, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons.three {
  width: 120px;
}
/* line 190, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons.four {
  width: 160px;
}
/* line 192, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .value {
  float: right;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 196, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .value span {
  font-size: 30px;
}

@media (max-width: 860px) {
  /* line 202, ../sass/pages/_pacotes.sass */
  section.infos .obs {
    line-height: 1.4;
  }
  /* line 205, ../sass/pages/_pacotes.sass */
  section.infos ul.prices li {
    width: 100%;
  }
  /* line 208, ../sass/pages/_pacotes.sass */
  section.infos ul.prices li .value {
    font-size: 16px;
  }
  /* line 211, ../sass/pages/_pacotes.sass */
  section.infos ul.prices li .value span {
    font-size: 20px;
  }
}
/* line 214, ../sass/pages/_pacotes.sass */
section.more {
  padding: 40px 0px;
  background: #f5f5f5;
}
/* line 218, ../sass/pages/_pacotes.sass */
section.more ul {
  font-family: "gotham_lightregular", sans-serif;
  margin: 40px 0px;
}
/* line 221, ../sass/pages/_pacotes.sass */
section.more ul li {
  margin: 25px 0px;
  line-height: 1.5;
}
/* line 225, ../sass/pages/_pacotes.sass */
section.more .container {
  max-width: 960px;
}
/* line 227, ../sass/pages/_pacotes.sass */
section.more h1 {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 30px;
  margin: 20px 0px;
  color: #434343;
}

/* line 234, ../sass/pages/_pacotes.sass */
section.orcamento {
  background: #2c2c2c;
  padding: 20px 0px;
}
/* line 238, ../sass/pages/_pacotes.sass */
section.orcamento a {
  background: #738c1a;
  display: block;
  text-align: center;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
}

@media (max-width: 520px) {
  /* line 250, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text {
    padding-top: 35px;
  }
  /* line 253, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h3, section.why ul.event li .text h4 {
    font-size: 16px;
  }
  /* line 256, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    padding: 5px;
  }
}
@media (max-width: 400px) {
  /* line 262, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text {
    padding-top: 10px;
  }
  /* line 265, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h3 {
    font-size: 15px;
  }
  /* line 268, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    font-size: 13px;
    padding: 5px;
  }
}
/* line 1, ../sass/pages/_passeios.sass */
section.banner.page.passeios {
  background: url("../img/banner/passeios.jpg") no-repeat center;
}

/* line 4, ../sass/pages/_passeios.sass */
section.zigzag {
  background: #f5f5f5;
  color: #454545;
}
/* line 7, ../sass/pages/_passeios.sass */
section.zigzag .container {
  max-width: 960px;
}
/* line 11, ../sass/pages/_passeios.sass */
section.zigzag .container ul li {
  margin: 30px 0px 50px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 14, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto {
  width: 50%;
  height: 250px;
  float: left;
  background: url("../img/frente.jpg");
  -moz-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 210px;
}
/* line 26, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .title {
  margin-top: 6px;
}
/* line 29, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .title, section.zigzag .container ul li .foto .price {
  display: inline-block;
  color: #f5f5f5;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 35, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .price {
  float: right;
}
/* line 37, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .price span {
  font-size: 30px;
}
/* line 40, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto:hover {
  -moz-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
}
/* line 44, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .text {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0px 10px;
  font-family: "gotham_lightregular", sans-serif;
  line-height: 1.6;
  font-size: 15px;
}
/* line 54, ../sass/pages/_passeios.sass */
section.zigzag .container ul li:nth-of-type(even) .foto, section.zigzag .container ul li:nth-of-type(even) .text {
  float: right;
}

@media (max-width: 860px) {
  /* line 60, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto, section.zigzag .container ul li .text {
    width: 100%;
    float: none;
    margin: 15px 0px;
  }
}
/* line 65, ../sass/pages/_passeios.sass */
section.pack {
  background: #0b0806;
  color: #fefdfd;
  padding: 40px 0px;
  padding-bottom: 150px;
  border-bottom: 62px solid #2c2c2c;
}
/* line 74, ../sass/pages/_passeios.sass */
section.pack .container {
  overflow: visible;
}
/* line 77, ../sass/pages/_passeios.sass */
section.pack h1 {
  font-size: 30px;
  margin: 20px 0px;
}
/* line 81, ../sass/pages/_passeios.sass */
section.pack .contratar {
  position: absolute;
  bottom: -180px;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  padding: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fefdfd;
  color: #3f3f3f;
}
/* line 92, ../sass/pages/_passeios.sass */
section.pack .contratar .info {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: url("../img/info.png") no-repeat center;
  margin-right: 20px;
  float: left;
}
/* line 100, ../sass/pages/_passeios.sass */
section.pack .contratar .text {
  float: right;
  width: calc(100% - 95px);
}
/* line 104, ../sass/pages/_passeios.sass */
section.pack .contratar h4 {
  font-size: 25px;
  margin: 10px 0px;
}
/* line 108, ../sass/pages/_passeios.sass */
section.pack .contratar p {
  font-family: "gotham_lightregular", sans-serif;
}
/* line 111, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn {
  overflow: hidden;
  *zoom: 1;
}
/* line 113, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li {
  width: 30%;
  margin: 0 1.5%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 16px;
}
/* line 122, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li ul {
  margin-top: 15px;
}
/* line 124, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li ul li {
  margin: 15px 0px;
}
/* line 128, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li p {
  margin: 30px 0;
  line-height: 2;
}
/* line 131, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto {
  background: url("../img/frente.jpg") center;
  background-size: 100% 100%;
  width: 100%;
  height: 200px;
  -moz-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 160px;
  border-bottom: 10px solid #111111;
  margin-bottom: 20px;
}
/* line 143, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .title {
  margin-top: 6px;
}
/* line 146, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .title, section.pack ul.threeColumn > li .foto .price {
  display: inline-block;
  color: #f5f5f5;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 153, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .price {
  float: right;
  font-size: 17px;
}
/* line 156, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .price span {
  font-size: 17px;
}

@media (max-width: 860px) {
  /* line 160, ../sass/pages/_passeios.sass */
  section.pack {
    border-bottom: 0px solid #2c2c2c;
    padding-bottom: 40px;
  }
  /* line 163, ../sass/pages/_passeios.sass */
  section.pack .contratar {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  /* line 171, ../sass/pages/_passeios.sass */
  section.pack .contratar .info {
    display: none;
  }
  /* line 174, ../sass/pages/_passeios.sass */
  section.pack .contratar .text {
    display: block;
    float: none;
    width: 100%;
  }
  /* line 178, ../sass/pages/_passeios.sass */
  section.pack h1 {
    font-family: "gotham_lightregular", sans-serif;
    text-align: center;
  }
  /* line 182, ../sass/pages/_passeios.sass */
  section.pack ul.threeColumn li {
    width: 100%;
    float: none;
  }
}
@media (max-width: 520px) {
  /* line 188, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto .title {
    margin-top: 11px;
  }

  /* line 191, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto .title, section.zigzag .container ul li .foto .price {
    display: inline-block;
    color: #f5f5f5;
    font-size: 16px;
    font-family: "gotham_lightregular", sans-serif;
  }
}
/* line 1, ../sass/pages/_eventos.sass */
section.banner.page.eventos {
  background: url("../img/banner/passeios.jpg") no-repeat center;
}
/* line 4, ../sass/pages/_eventos.sass */
section.banner.page.eventos button {
  margin: 30px auto;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 1, ../sass/pages/_tarifario.sass */
section.tarifario {
  padding: 30px 0px;
}
/* line 4, ../sass/pages/_tarifario.sass */
section.tarifario p {
  font-size: 15px;
  line-height: 1.7;
  color: #434343;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 10, ../sass/pages/_tarifario.sass */
section.tarifario p a {
  font-family: "gotham_boldregular", sans-serif;
  text-decoration: underline;
  color: #131313;
}
/* line 15, ../sass/pages/_tarifario.sass */
section.tarifario .divisao {
  width: 10%;
  height: 1px;
  display: block;
  background: #131313;
  margin: 65px 0px;
}
/* line 22, ../sass/pages/_tarifario.sass */
section.tarifario h1 {
  font-size: 30px;
  font-family: "gotham_lightregular", sans-serif;
  color: #2c2c2c;
  text-align: center;
  margin: 70px 0px;
}
/* line 29, ../sass/pages/_tarifario.sass */
section.tarifario .title {
  background: #2c2c2c;
  color: #fefefe;
  font-size: 19px;
  font-family: "gotham_boldregular", sans-serif;
  padding: 20px;
  width: 100%;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 39, ../sass/pages/_tarifario.sass */
section.tarifario .subtitle {
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  padding: 10px;
  display: block;
  text-transform: uppercase;
}
/* line 47, ../sass/pages/_tarifario.sass */
section.tarifario table {
  border-spacing: 5px;
  border-collapse: separate;
  width: 100%;
}
/* line 54, ../sass/pages/_tarifario.sass */
section.tarifario table thead tr td {
  background: #2c2c2c;
  padding: 15px 5px;
  color: #fefefe;
  font-family: "gotham_boldregular", sans-serif;
}
/* line 61, ../sass/pages/_tarifario.sass */
section.tarifario table tr td {
  border: 1px solid #2c2c2c;
  padding: 10px;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
}
/* line 68, ../sass/pages/_tarifario.sass */
section.tarifario .left {
  width: 48%;
  float: left;
}
/* line 72, ../sass/pages/_tarifario.sass */
section.tarifario .right {
  width: 48%;
  float: right;
}

@media (max-width: 860px) {
  /* line 78, ../sass/pages/_tarifario.sass */
  section.tarifario .left, section.tarifario .right {
    display: block;
    float: none;
    width: 100%;
    margin: 30px 0px;
  }
}
