/*
Theme Name: Twenty Sixteen
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Caption
 * 6.0 - Galleries
 * 7.0 - Audio / Video
 * 8.0 - RTL
 */


/**
 * 1.0 - Body
 */


@import url('../stylesheets/screen.css');

section.banner{
	max-height: 700px;
	background: #000;
}
