.breadcrumb
  padding: 20px 0px
  li
    font-family: $light
    display: inline-block
    font-size: 13px
    color: #9a9a9a

    a
      color: #9a9a9a
    &:after
      content: '>'
      display: inline-block
      margin: 0 5px

    &:last-of-type:after
      content: ''

#blog
  .main
    width: 70%
    float: left

    article
      h1
        font-size: 30px
        color: $azul
        padding: 10px 0px
        border-bottom: 3px solid $amarelo
        margin-bottom: 10px

      .content
        p
          font-family: $light
          font-size: 14px
          color: #888
          margin: 20px 0px


      .pic
        width: 100%
        margin-bottom: 10px
        position: relative

        img
          width: 100%

      .play
        @include small-sprite(play)
        width: small-sprite-width(play)
        height: small-sprite-height(play)
        position: absolute
        top: 50%
        margin-top: calc(#{small-sprite-height(play)}/-2)
        left: 50%
        margin-left: calc(#{small-sprite-height(play)}/-2)

      .info
        text-align: center
        margin-bottom: 10px
        ul
          display: inline-block
          margin: 0 auto

          li
            display: inline-block
            margin: 0
            border-right: 1px solid #9a9a9a
            padding: 5px 15px
            font-size: 13px
            font-family: $light

            a
              font-family: $bold
              color: $azul

              &:hover
                text-decoration: underline

            &:last-of-type
              border: none

    h2
      color: $azul
      margin: 30px 0px

    ul.podcasts, ul.posts
      +clearfix
      li
        width: 45%
        margin: 0 2.5%
        float: left



    .posts
      li

        a
          color: $azul
          display: block
          position: relative
          margin: 20px 0px

          &:hover
            .play

          h2
            margin: 10px 0px

          .date
            color: #6f6f6f
            font-family: $light
            font-size: 13px

            line-height: 1.3
            .hora-amarelo
              // text-indent: -999999999
              @include little-sprite(yhour)
              width: little-sprite-width(yhour)
              height: little-sprite-height(yhour)
              color: transparent
              margin-right: 5px
              display: inline-block
        //
        //
        //
        .pic
          width: 100%
          margin-bottom: 10px
          position: relative

          img
            width: 100%

        .play
          @include small-sprite(play)
          width: small-sprite-width(play)
          height: small-sprite-height(play)
          position: absolute
          color: transparent
          top: 50%
          margin-top: calc(#{small-sprite-height(play)}/-2)
          left: 50%
          margin-left: calc(#{small-sprite-height(play)}/-2)



  .sidebar
    width: 25%
    float: right

    .incompany, .newsletter
      background: $amarelo
      color: $azul
      padding: 20px
      text-align: center
      margin: 30px 0px

      &.newsletter
        background: $azul
        color: white

        input
          height: 40px
          width: 100%
          +border-radius(5px)


        button
          background: $amarelo
          color: $azul
          width: 100%
          +border-radius(5px)

      p
        font-family: $light
        font-size: 14px
        margin: 10px 0px

      button
        margin: 10px 0px
        font-size: 14px

    .categories
      color: $azul
      margin-bottom: 30px
      padding-bottom: 30px
      border-bottom: 4px solid $amarelo


      h3
        font-size: 17px
        margin-bottom: 20px

      ul
        li
          background: #e7e9ff
          font-size: 12px
          color: #1f245c
          +border-radius(2px)
          margin: 1px 0px
          +transition(0.3s ease-out)

          &:hover
            background: darken(#e7e9ff, 5%)

          a
            color: #1f245c
            display: block
            width: 100%
            padding: 15px




    .search
      padding-bottom: 35px
      margin-bottom: 35px
      +clearfix
      border-bottom: 4px solid $amarelo
      input
        background: #ebebeb
        height: 40px
        float: left
        padding: 0 10px
        width: 80%
        +box-sizing(border-box)
        +border-radius(5px 0px 0px 5px)
        border: none
        font-size: 15px
        font-family: $font

      button
        height: 40px
        +box-sizing(border-box)
        padding: 0
        width: 20%
        float: left
        +border-radius(0px 5px 5px 0px)
        .search-icon
          @include little-sprite(search)
          width: little-sprite-width(search)
          height: little-sprite-height(search)
          display: block
          margin: 0 auto

+media-query(medium)
  section#blog
    .main, .sidebar
      width: 100%
      display: block

      ul.podcasts
        li
          width: 100%

+media-query(small)
  section#blog
    .main
      .podcasts
