section.banner.page.passeios
  background: url('../img/banner/passeios.jpg') no-repeat center
section.banner.page.spa
  background: url('../img/banner/spa.jpg') no-repeat center
section.banner.page.gastronomia
  background: url('../img/banner/gastronomia.jpg') no-repeat center

section.zigzag
  background: #f5f5f5
  color: #454545


  .container
    max-width: 960px

    .fraselink
      font-size: 15px
      line-height: 1.7
      color: #434343
      font-family: $light
      margin-bottom: 5px

      a
        font-family: $bold
        text-decoration: underline
        color: #131313

    .frase2
      margin-bottom: 30px

    .divisao
      width: 10%
      height: 1px
      display: block
      background: #131313
      margin: 35px 0px

    ul
      li
        margin: 30px 0px 50px 0px

        a
          color: #434343
        +clearfix
        .foto
          width: 50%
          height: 250px
          float: left
          background: url('../img/frente.jpg')
          +box-shadow(inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85))
          +transition(0.3s ease-out)
          cursor: pointer
          +box-sizing(border-box)
          padding: 20px
          padding-top: 210px
          color: white

          &.pacote
            padding-top: 140px


          span.quantidade
            font-size: 15px
            margin-left: 10px

          span.correcaoquantidade
            display: block
            margin: 5px 0px

          span.nome
            line-height: 36px

          .preco
            text-align: right
            padding: 20px 0px
            span
              display: block
              font-size: 12px

            span.rs
              font-family: $light
              font-size: 21px
              margin-top: 5px

          .correcaopreco
            width: 40%
            float: right
            margin-top: -4px

          .correcaoprecoplus
            width: 40%
            float: right
            margin-top: -83px

          .title
            margin-top: 6px

          .correcaotitle
            margin-top: 19px

          .title, .price
            display: inline-block
            color: #f5f5f5
            font-size: 20px
            font-family: $light

          .price
            float: right
            span
              font-size: 22px

          &:hover
            +box-shadow(inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85))


        .text
          width: 50%
          +box-sizing(border-box)
          float: left
          padding: 0px 10px
          font-family: $light
          line-height: 1.6
          font-size: 15px

        &:nth-of-type(even)
          .foto, .text
            float: right


.contratarPacotePasseio, .contratarPacoteSpa

  .contratar
    h4
      color: #fefefe
      text-align: center
      font-size: 25px

    .info
      display: block
      width: 75px
      height: 75px
      background: url('../img/info2.png') no-repeat center
      margin: 55px auto



+media-query(medium)
  section.zigzag
    .container ul li
      .foto, .text
        width: 100%
        float: none
        margin: 15px 0px

  section.pack ul.threeColumn > li .foto .price
    margin-top: 9px

section.pack

  background: #fafafa
  color: #000
  padding: 40px 0px
  padding-bottom: 150px
  border-bottom: 62px solid #2c2c2c
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.18)
  -moz-box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.18)
  box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.18)


  .container
    overflow: visible

  h1
    font-size: 30px
    margin: 20px 0px

  .contratar
    position: absolute
    bottom: -180px
    left: 50%
    width: 80%
    margin-left: -40%
    padding: 25px
    +box-sizing(border-box)
    background: #fefdfd
    color: #3f3f3f
    +box-shadow(0px 0px 13px 1px rgba(0, 0, 0, 0.5))

    .info
      display: inline-block
      width: 75px
      height: 75px
      background: url('../img/info.png') no-repeat center
      margin-right: 20px
      float: left

    .text
      float: right
      width: calc(100% - 95px)

    h4
      font-size: 25px
      margin: 10px 0px

    p
      font-family: $light

  ul.threeColumn
    +clearfix
    > li
      width: 30%
      margin: 0 1.5%
      float: left
      +box-sizing(border-box)
      padding: 10px
      font-family: $light
      font-size: 16px

      ul
        margin-top: 15px
        li
          margin: 15px 0px


      p
        margin: 30px 0
        line-height: 2
      .foto
        background: url('../img/frente.jpg') center
        background-size: 100% 100%
        width: 100%
        height: 200px
        +box-shadow(inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85))
        +box-sizing(border-box)
        padding: 8px
        padding-top: 160px
        border-bottom: 10px solid #111111
        margin-bottom: 20px

        .title
          margin-top: 6px

        .title, .price
          display: inline-block
          color: #f5f5f5

          font-size: 20px
          font-family: $light

        .price
          float: right
          font-size: 17px
          span
            font-size: 17px

+media-query(medium)
  section.pack
    border-bottom: 0px solid #2c2c2c
    padding-bottom: 40px
    .contratar
      position: relative
      bottom: 0
      left: 0
      width: 100%
      margin: 10px auto
      text-align: center

      .info
        display: none

      .text
        display: block
        float: none
        width: 100%
    h1
      font-family: $light
      text-align: center
    ul.threeColumn
      li
        width: 100%
        float: none

+media-query(small)

  .contratarPacotePasseio

    .contratar
      p
        display: visible

  section.zigzag .container ul li .foto .correcaotitle
    max-width: 140px


  section.zigzag .container ul li .foto span.correcaoquantidade
    font-size: 12px

  section.zigzag .container ul li .foto .preco span.rs
    display: block
    font-size: 22px
    margin-top: 6px

  section.zigzag .container ul li .foto .title
    margin-top: 11px

  section.zigzag .container ul li .foto .title, section.zigzag .container ul li .foto .price
    display: inline-block
    color: #f5f5f5
    font-size: 16px
    font-family: $light
