/* line 5, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 48, small/*.png */
.small-sprite, .small-menucamelot, .mobile-head .menu-link, header .mobile-close, .transparent-menu .menu-link {
  background-image: url('../img/small-sea9cb6de51.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-menucamelot {
  background-position: 0 0;
}

/* line 64, little/*.png */
.little-sprite, .little-calendario, .little-fone, .little-setinha, .mobile-reserva button .reserva-seta, .preheader ul li .iconCalendar, .preheader ul li .iconPhone {
  background-image: url('../img/little-s0f090156f7.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-calendario {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-fone {
  background-position: 0 -24px;
}

/* line 84, ../../../../../../../../../Users/Baufaker/.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-setinha {
  background-position: 0 -48px;
}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on April 4, 2016 */
@font-face {
  font-family: "gotham_mediumregular";
  src: url("../fonts/gotham-medium.eot");
  src: url("../fonts/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium.woff2") format("woff2"), url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium.svg#gotham_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gotham_lightregular";
  src: url("../fonts/gotham-light.eot");
  src: url("../fonts/gotham-light.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light.woff2") format("woff2"), url("../fonts/gotham-light.woff") format("woff"), url("../fonts/gotham-light.ttf") format("truetype"), url("../fonts/gotham-light.svg#gotham_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gotham_boldregular";
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold.woff2") format("woff2"), url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.ttf") format("truetype"), url("../fonts/gotham-bold.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 32, ../sass/utils/_fonts.sass */
body {
  font-family: "gotham_mediumregular", sans-serif;
}

/* line 2, ../sass/utils/_base.sass */
html, body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/utils/_base.sass */
body {
  position: relative;
}

/* line 11, ../sass/utils/_base.sass */
.container {
  margin: 0 auto;
}

/* line 14, ../sass/utils/_base.sass */
h1, h2, h3, h4, h5 {
  font-family: "gotham_boldregular", sans-serif;
}

/* line 17, ../sass/utils/_base.sass */
a {
  text-decoration: none;
}

/* line 20, ../sass/utils/_base.sass */
p {
  line-height: 1.4;
}

/* line 23, ../sass/utils/_base.sass */
.notfounddiv {
  text-align: center;
  margin-bottom: 110px;
}
/* line 29, ../sass/utils/_base.sass */
.notfounddiv .container .fourcinza {
  color: rgba(221, 221, 221, 0.53);
  font-size: 150px;
  position: relative;
  top: 78px;
  z-index: -9;
}
/* line 36, ../sass/utils/_base.sass */
.notfounddiv .container h1 {
  font-size: 60px;
}
/* line 39, ../sass/utils/_base.sass */
.notfounddiv .container h2 {
  font-family: "gotham_lightregular", sans-serif;
  margin-top: 26px;
}

/* line 43, ../sass/utils/_base.sass */
.conteudo_central {
  text-align: center;
  margin-top: 30px;
}
/* line 47, ../sass/utils/_base.sass */
.conteudo_central h1 {
  font-family: "gotham_lightregular", sans-serif;
  margin-bottom: 30px;
}
/* line 51, ../sass/utils/_base.sass */
.conteudo_central #tour_virtual {
  width: 650px;
  height: 380px;
}
/* line 55, ../sass/utils/_base.sass */
.conteudo_central .lista_tour {
  text-align: center;
  margin: auto auto;
  width: 60%;
  max-width: 200px;
}
/* line 60, ../sass/utils/_base.sass */
.conteudo_central .lista_tour li {
  font-family: "gotham_boldregular", sans-serif;
}
/* line 62, ../sass/utils/_base.sass */
.conteudo_central .lista_tour li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 11px;
  display: block;
  color: white;
  background: #167ac6;
  margin: 6px 0px;
}

/* line 71, ../sass/utils/_base.sass */
#carousel-example-generic {
  width: 1px !important;
  min-width: 100% !important;
}

/* line 75, ../sass/utils/_base.sass */
#map {
  width: 100%;
  height: 300px;
}

/* line 82, ../sass/utils/_base.sass */
.fixheader {
  position: fixed;
  top: -100vh;
  width: 100%;
  z-index: 9999999;
  display: block;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/* line 90, ../sass/utils/_base.sass */
.wrapper {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 999999;
}

/* line 97, ../sass/utils/_base.sass */
.mobile-head {
  height: 45px;
  width: 100%;
  background-color: #3d3d3d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3D3D3D', endColorstr='#FF11110F');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTEwZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(100%, #11110f));
  background-image: -moz-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: -webkit-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: linear-gradient(to bottom, #3d3d3d 0%, #11110f 100%);
  padding: 10px 0px;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 109, ../sass/utils/_base.sass */
.mobile-head .menu-link {
  background-position: 0 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  float: right;
}
/* line 117, ../sass/utils/_base.sass */
.mobile-head .mobile-logo {
  float: left;
  max-height: 38px;
}

/* line 124, ../sass/utils/_base.sass */
.mobile-reserva button .reserva-seta {
  background-position: 0 -48px;
  width: 28px;
  height: 17px;
  display: inline-block;
  margin-left: 10px;
}
/* line 132, ../sass/utils/_base.sass */
.mobile-reserva button.dois .reserva-seta {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 1124px) {
  /* line 137, ../sass/utils/_base.sass */
  .mobile-head {
    display: block;
  }

  /* line 140, ../sass/utils/_base.sass */
  .wrapper {
    display: block;
  }

  /* line 143, ../sass/utils/_base.sass */
  #reserva.mobileFixed {
    display: none;
  }

  /* line 147, ../sass/utils/_base.sass */
  .mobile-reserva button {
    display: none;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    background: #738c1a;
    height: 60px;
  }
  /* line 155, ../sass/utils/_base.sass */
  .mobile-reserva button.dois {
    background: #738c1a;
  }

  /* line 158, ../sass/utils/_base.sass */
  .fixheader {
    display: none;
  }

  /* line 162, ../sass/utils/_base.sass */
  body {
    padding-top: 63px;
  }
  /* line 165, ../sass/utils/_base.sass */
  body section#reserva {
    height: 100%;
    padding: 10px 0px;
  }
  /* line 168, ../sass/utils/_base.sass */
  body section#reserva .fones {
    margin-left: 0px;
  }
}
@media (max-width: 860px) {
  /* line 174, ../sass/utils/_base.sass */
  body {
    padding-top: 0;
  }

  /* line 177, ../sass/utils/_base.sass */
  .mobile-head.home-head {
    display: none;
  }

  /* line 181, ../sass/utils/_base.sass */
  .conteudo_central #tour_virtual {
    width: 90%;
    height: 60vh;
  }
}
/* line 185, ../sass/utils/_base.sass */
.preheader {
  background: #272626;
  padding: 5px;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
}
/* line 192, ../sass/utils/_base.sass */
.preheader ul li {
  display: inline-block;
  width: 31%;
  color: #8a8a8a;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 12px;
  margin: 0 1%;
  text-align: center;
}
/* line 202, ../sass/utils/_base.sass */
.preheader ul li .iconCalendar {
  background-position: 0 0;
  width: 12px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -2px;
}
/* line 209, ../sass/utils/_base.sass */
.preheader ul li .iconPhone {
  background-position: 0 -24px;
  width: 13px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -3px;
}
/* line 217, ../sass/utils/_base.sass */
.preheader ul li:first-of-type {
  width: 40%;
}
/* line 220, ../sass/utils/_base.sass */
.preheader ul li:nth-of-type(2) {
  width: 20%;
}
/* line 223, ../sass/utils/_base.sass */
.preheader ul li:nth-of-type(3) {
  width: 30%;
}
/* line 226, ../sass/utils/_base.sass */
.preheader ul li strong {
  font-family: "gotham_boldregular", sans-serif;
}
/* line 229, ../sass/utils/_base.sass */
.preheader ul li .phone {
  line-height: 1.4;
}
/* line 233, ../sass/utils/_base.sass */
.preheader ul li ul li {
  display: inline;
  margin: 0 12px;
}
/* line 236, ../sass/utils/_base.sass */
.preheader ul li ul li a {
  color: #8a8a8a;
}
/* line 238, ../sass/utils/_base.sass */
.preheader ul li ul li:first-of-type {
  width: 50%;
}
/* line 241, ../sass/utils/_base.sass */
.preheader ul li ul li:nth-of-type(2) {
  width: 50%;
}

/* line 244, ../sass/utils/_base.sass */
header {
  background-color: #3d3d3d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3D3D3D', endColorstr='#FF11110F');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTEwZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(100%, #11110f));
  background-image: -moz-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: -webkit-linear-gradient(top, #3d3d3d 0%, #11110f 100%);
  background-image: linear-gradient(to bottom, #3d3d3d 0%, #11110f 100%);
  padding: 10px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  height: 63px;
}
/* line 254, ../sass/utils/_base.sass */
header nav ul {
  margin-top: -9px;
}
/* line 257, ../sass/utils/_base.sass */
header nav.mobile {
  display: none;
}
/* line 261, ../sass/utils/_base.sass */
header nav.mobile .links a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 0px;
}
/* line 267, ../sass/utils/_base.sass */
header .mobile-close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  background-position: 0 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 279, ../sass/utils/_base.sass */
header .logo {
  float: left;
  width: 20%;
}
/* line 283, ../sass/utils/_base.sass */
header .logo img {
  width: 100%;
  min-width: 121px;
  max-width: 242px;
  text-align: center;
}
/* line 289, ../sass/utils/_base.sass */
header .hLogo {
  width: 20%;
  display: inline-block;
  text-align: center;
}
/* line 294, ../sass/utils/_base.sass */
header nav {
  float: right;
  width: 79%;
}
/* line 298, ../sass/utils/_base.sass */
header nav ul li {
  display: inline-block;
  line-height: 60px;
  font-size: 13px;
  margin: 0 5px;
  font-family: "gotham_boldregular", sans-serif;
}
/* line 305, ../sass/utils/_base.sass */
header nav ul li a {
  text-decoration: none;
  color: #fafafa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 312, ../sass/utils/_base.sass */
header nav ul li a.active, header nav ul li a:hover {
  color: #fafafa;
  text-decoration: underline;
  font-family: "gotham_boldregular", sans-serif;
}

/* line 317, ../sass/utils/_base.sass */
header .hLogo img {
  max-height: 38px;
}

@media (max-width: 1124px) {
  /* line 322, ../sass/utils/_base.sass */
  .preheader {
    display: none;
  }

  /* line 325, ../sass/utils/_base.sass */
  header {
    right: -100%;
    position: fixed;
    height: 100%;
    background: #1d1d1d;
    z-index: 999999999;
    top: 0;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 50px;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 338, ../sass/utils/_base.sass */
  header .container {
    max-height: 100%;
    overflow-y: scroll;
  }
  /* line 343, ../sass/utils/_base.sass */
  header.aberto {
    right: 0;
  }
  /* line 346, ../sass/utils/_base.sass */
  header .mobile-close {
    display: block;
  }
  /* line 349, ../sass/utils/_base.sass */
  header .hLogo {
    display: none;
  }
  /* line 352, ../sass/utils/_base.sass */
  header nav.main {
    display: none;
  }
  /* line 355, ../sass/utils/_base.sass */
  header nav.mobile {
    display: block;
  }
  /* line 358, ../sass/utils/_base.sass */
  header nav.mobile ul {
    height: 100%;
    padding: 30px 0px;
  }
  /* line 368, ../sass/utils/_base.sass */
  header .logo img {
    padding: 10px;
    width: 70%;
    margin: 30px;
  }
  /* line 374, ../sass/utils/_base.sass */
  header nav {
    display: block;
    width: 100%;
  }
  /* line 378, ../sass/utils/_base.sass */
  header nav ul {
    margin-top: 30px;
  }
  /* line 380, ../sass/utils/_base.sass */
  header nav ul li {
    display: block;
  }
  /* line 383, ../sass/utils/_base.sass */
  header nav ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 0;
  }
}
/* line 392, ../sass/utils/_base.sass */
form input {
  outline: none;
}
/* line 395, ../sass/utils/_base.sass */
form input:read-only {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 403, ../sass/utils/_base.sass */
.hasDatepicker {
  cursor: pointer;
}

/* line 406, ../sass/utils/_base.sass */
.container {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 414, ../sass/utils/_base.sass */
button {
  padding: 14px 20px;
  cursor: pointer;
  border: none;
  background: #738c1a;
  color: white;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 15px;
  height: 50px;
  outline: none;
}
/* line 425, ../sass/utils/_base.sass */
button:hover {
  background: #5c7112;
}
/* line 427, ../sass/utils/_base.sass */
button:hover span {
  margin-left: 10px;
}
/* line 430, ../sass/utils/_base.sass */
button span {
  color: #ffbc09;
  margin-left: 5px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/* line 436, ../sass/utils/_base.sass */
a {
  cursor: pointer;
}

/* line 439, ../sass/utils/_base.sass */
.icon {
  text-indent: -99999999;
}

/* line 442, ../sass/utils/_base.sass */
.next {
  background: #1f245c;
  color: white;
  width: 100%;
  padding: 10px;
}
/* line 448, ../sass/utils/_base.sass */
.next ul {
  margin: 0 auto;
  display: inline-block;
}
/* line 451, ../sass/utils/_base.sass */
.next ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 14px;
  text-align: center;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 458, ../sass/utils/_base.sass */
.next ul li:first-of-type {
  font-family: "gotham_mediumregular", sans-serif;
}
/* line 461, ../sass/utils/_base.sass */
.next ul li button {
  background: #ffbc09;
  color: #1f245c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #ffbc09;
  font-family: "gotham_boldregular", sans-serif;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 469, ../sass/utils/_base.sass */
.next ul li button:hover {
  background: #1f245c;
  color: #ffbc09;
}

@media (max-width: 1124px) {
  /* line 476, ../sass/utils/_base.sass */
  .next ul {
    width: 100%;
    display: block;
  }
  /* line 479, ../sass/utils/_base.sass */
  .next ul li {
    display: block;
    width: 100%;
    margin: 13px 0px;
  }
}
/* line 488, ../sass/utils/_base.sass */
section#incompany {
  background: #ffbc09;
  padding: 25px 0px;
}
/* line 492, ../sass/utils/_base.sass */
section#incompany h1 {
  font-size: 25px;
  color: #2d2d2d;
  display: inline-block;
  margin-right: 30px;
  line-height: 1.7;
}
/* line 498, ../sass/utils/_base.sass */
section#incompany button {
  display: inline-block;
}

@media (max-width: 700px) {
  /* line 504, ../sass/utils/_base.sass */
  section#incompany h1, section#incompany button {
    text-align: center;
    display: block;
    margin: 10px auto;
  }

  /* line 510, ../sass/utils/_base.sass */
  section#menuLinks .container {
    width: 100%;
  }
  /* line 514, ../sass/utils/_base.sass */
  section#menuLinks ul li {
    max-width: none;
    background-size: cover;
  }

  /* line 520, ../sass/utils/_base.sass */
  section.footer-subs h1 {
    line-height: 35px;
  }
}
/* line 525, ../sass/utils/_base.sass */
section#contato {
  background: #3d4490;
  padding: 30px 0px;
  color: white;
}
/* line 530, ../sass/utils/_base.sass */
section#contato .text, section#contato .fields, section#contato .message {
  width: 30%;
  margin: 0 1.5%;
  float: left;
}
/* line 536, ../sass/utils/_base.sass */
section#contato h1 {
  color: white;
  font-size: 51px;
}
/* line 540, ../sass/utils/_base.sass */
section#contato h2 {
  font-family: "gotham_lightregular", sans-serif;
  margin: 20px 0px;
  line-height: 1.4;
}
/* line 546, ../sass/utils/_base.sass */
section#contato form input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
  color: #3d4490;
  padding: 5px 10px;
}
/* line 555, ../sass/utils/_base.sass */
section#contato form textarea {
  width: 100%;
  height: 125px;
  resize: none;
  margin-bottom: 25px;
  padding: 15px 10px;
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
  color: #3d4490;
}
/* line 565, ../sass/utils/_base.sass */
section#contato form button {
  padding-left: 50px;
  padding-right: 50px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 570, ../sass/utils/_base.sass */
section#contato form button:hover {
  background: white;
  color: #1f245c;
}

@media (max-width: 860px) {
  /* line 576, ../sass/utils/_base.sass */
  section#contato .text {
    width: 95%;
  }
  /* line 578, ../sass/utils/_base.sass */
  section#contato .fields, section#contato .message {
    width: 45%;
  }
}
/* line 584, ../sass/utils/_base.sass */
footer {
  background: #353535;
  overflow: hidden;
  *zoom: 1;
  color: #fafafa;
  height: 51px;
  padding-top: 14px;
  -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
/* line 595, ../sass/utils/_base.sass */
footer .seguro {
  float: left;
  width: 35%;
  text-align: center;
  padding-top: 5px;
}
/* line 601, ../sass/utils/_base.sass */
footer .pagamentos {
  width: 50%;
  float: right;
}
/* line 605, ../sass/utils/_base.sass */
footer .pagamentos p {
  float: left;
  margin-right: 20px;
  line-height: 2.2;
}
/* line 610, ../sass/utils/_base.sass */
footer .pagamentos img {
  display: inline-block;
}

@media (max-width: 860px) {
  /* line 615, ../sass/utils/_base.sass */
  footer .pagamentos {
    float: right;
    width: 60%;
    display: block;
    margin-top: -53px;
  }
  /* line 621, ../sass/utils/_base.sass */
  footer .pagamentos p {
    display: none;
  }
  /* line 624, ../sass/utils/_base.sass */
  footer .pagamentos img {
    display: block;
    margin: 10px auto;
    float: none;
  }
  /* line 629, ../sass/utils/_base.sass */
  footer .seguro {
    margin-top: -10px;
    float: none;
    width: 30%;
    display: block;
  }
  /* line 635, ../sass/utils/_base.sass */
  footer .seguro img {
    display: block;
    margin: 10px auto;
    float: none;
  }
}
@media (max-width: 520px) {
  /* line 643, ../sass/utils/_base.sass */
  footer .pagamentos img, footer .seguro img {
    height: 27px;
    margin-top: 13px;
  }

  /* line 651, ../sass/utils/_base.sass */
  .modal .container .text p {
    font-size: 10px;
  }
  /* line 659, ../sass/utils/_base.sass */
  .modal .container .form .fields.fieldsCV .field .labelFile {
    margin: 0 2px !important;
    font-size: 8px;
    padding: 8px !important;
    height: auto !important;
  }
  /* line 665, ../sass/utils/_base.sass */
  .modal .container .form .fields.fieldsCV .field button {
    margin: 0 2px !important;
    font-size: 12px;
    padding: 5px !important;
    height: auto !important;
  }
  /* line 672, ../sass/utils/_base.sass */
  .modal .container .form .textarea button {
    width: 60%;
  }
  /* line 674, ../sass/utils/_base.sass */
  .modal .container .form .textarea textarea {
    width: 99%;
  }
}
/* line 682, ../sass/utils/_base.sass */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 9999999;
  top: 0;
  left: -100vw;
  overflow: hidden;
  *zoom: 1;
  background: rgba(255, 255, 255, 0.4);
  padding: 30px 0px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 696, ../sass/utils/_base.sass */
.modal .container {
  min-height: 50%;
  background: #1f1f1d;
  padding: 50px 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 90vh;
  overflow: scroll;
}
/* line 704, ../sass/utils/_base.sass */
.modal .container img {
  max-width: 100%;
  margin: 30px 0px;
}
/* line 708, ../sass/utils/_base.sass */
.modal .container h2 {
  font-size: 30px;
  font-family: "gotham_boldregular", sans-serif;
  text-transform: uppercase;
  margin: 20px 0px;
  color: #fdfdfd;
  text-align: center;
}
/* line 716, ../sass/utils/_base.sass */
.modal .container .divisao {
  height: 1px;
  width: 15%;
  background: #fafafa;
  margin: 30px auto 30px auto;
  display: block;
}
/* line 724, ../sass/utils/_base.sass */
.modal .container p {
  font-family: "gotham_lightregular", sans-serif;
  color: #fefefe;
  font-size: 16px;
  margin: 20px 1.5%;
}
/* line 731, ../sass/utils/_base.sass */
.modal .container ul {
  margin: 20px 0px;
}
/* line 733, ../sass/utils/_base.sass */
.modal .container ul li {
  margin: 10px 0px;
  font-family: "gotham_boldregular", sans-serif;
  color: #fdfdfd;
}
/* line 738, ../sass/utils/_base.sass */
.modal .container .form {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
}
/* line 744, ../sass/utils/_base.sass */
.modal .container .form .fields {
  overflow: hidden;
  *zoom: 1;
}
/* line 748, ../sass/utils/_base.sass */
.modal .container .form .fields.fieldsCV .field {
  width: 100%;
  margin: 0;
}
/* line 752, ../sass/utils/_base.sass */
.modal .container .form .fields.fieldsCV .field button {
  width: 40%;
  float: right;
  line-height: 1.5;
}
/* line 758, ../sass/utils/_base.sass */
.modal .container .form .fields .field {
  float: left;
  position: relative;
  width: 30.3%;
  margin: 0 1.5%;
}
/* line 764, ../sass/utils/_base.sass */
.modal .container .form .fields .field .error {
  display: block;
  color: white;
}
/* line 769, ../sass/utils/_base.sass */
.modal .container .form .fields .field input[type="file"] {
  color: white;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  display: block;
}
/* line 775, ../sass/utils/_base.sass */
.modal .container .form .fields .field .labelFile {
  color: #fafafa;
  float: right;
  background-color: #1f1f1d;
  padding: 12px;
  border: 2px solid #fafafa;
  margin: 20px 0px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  max-width: 43%;
}
/* line 800, ../sass/utils/_base.sass */
.modal .container .form .fields input {
  float: left;
  width: 100%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
/* line 807, ../sass/utils/_base.sass */
.modal .container .form .fields input::-webkit-input-placeholder {
  color: #1f1f1d;
}
/* line 811, ../sass/utils/_base.sass */
.modal .container .form .fields input:-moz-placeholder {
  color: #1f1f1d;
}
/* line 815, ../sass/utils/_base.sass */
.modal .container .form .fields input::-moz-placeholder {
  color: #1f1f1d;
}
/* line 819, ../sass/utils/_base.sass */
.modal .container .form .fields input:-ms-input-placeholder {
  color: #1f1f1d;
}
/* line 823, ../sass/utils/_base.sass */
.modal .container .form .textarea {
  display: block;
  margin: 10px 1.5%;
  width: 97%;
}
/* line 828, ../sass/utils/_base.sass */
.modal .container .form .textarea .error {
  display: block;
  color: white;
  margin-top: 15px;
}
/* line 832, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea {
  width: 100%;
  display: block;
  height: 100px;
  resize: none;
  padding: 15px;
  color: #1f1f1d;
  font-family: "gotham_lightregular", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
/* line 843, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea::-webkit-input-placeholder {
  color: #1f1f1d;
}
/* line 847, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea:-moz-placeholder {
  color: #1f1f1d;
}
/* line 851, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea::-moz-placeholder {
  color: #1f1f1d;
}
/* line 855, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea:-ms-input-placeholder {
  color: #1f1f1d;
}
/* line 858, ../sass/utils/_base.sass */
.modal .container .form input, .modal .container .form label {
  display: block;
}
/* line 861, ../sass/utils/_base.sass */
.modal .container .form label {
  font-family: "gotham_lightregular", sans-serif;
  color: white;
}
/* line 865, ../sass/utils/_base.sass */
.modal .container .form input {
  height: 55px;
  width: 100%;
  color: #1f1f1d;
  font-family: "gotham_lightregular", sans-serif;
  margin: 5px 0px 15px 0px;
}
/* line 872, ../sass/utils/_base.sass */
.modal .container .form button {
  background: #738c1a;
  color: #fafafa;
  width: 30%;
  float: right;
  margin: 20px 1.5%;
  border: 2px solid #738c1a;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 881, ../sass/utils/_base.sass */
.modal .container .form button:hover {
  background: #506112;
}
/* line 884, ../sass/utils/_base.sass */
.modal .close-light, .modal .close-pi {
  background: white;
  color: #1f1f1d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid white;
  display: block;
  padding: 5px 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "gotham_boldregular", sans-serif;
  font-size: 30px;
  cursor: pointer;
}
/* line 899, ../sass/utils/_base.sass */
.modal .close-light:hover, .modal .close-pi:hover {
  background: white;
  color: #738c1a;
}
/* line 903, ../sass/utils/_base.sass */
.modal .pic {
  width: 100%;
  text-align: center;
}
/* line 907, ../sass/utils/_base.sass */
.modal .pic img {
  max-width: 100%;
}

/* line 911, ../sass/utils/_base.sass */
section#reserva {
  background: #2c2c2c;
  color: #faf9f9;
  padding: 0px 0px;
  height: 55px;
}
/* line 917, ../sass/utils/_base.sass */
section#reserva .check {
  width: 30%;
  float: left;
}
/* line 921, ../sass/utils/_base.sass */
section#reserva .check:first-of-type {
  border-right: 1px solid #fafafa;
  margin-right: 10px;
}
/* line 928, ../sass/utils/_base.sass */
section#reserva .check input {
  background: url("../img/seta.png") right center no-repeat #2c2c2c;
  color: #fdfdfd;
  font-family: "gotham_lightregular", sans-serif;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 17px;
  height: 55px;
  position: relative;
  cursor: pointer;
  cursor: hand;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 942, ../sass/utils/_base.sass */
section#reserva .check input.disabled {
  background: #2c2c2c;
}
/* line 946, ../sass/utils/_base.sass */
section#reserva .check label {
  font-size: 11px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 952, ../sass/utils/_base.sass */
section#reserva .reserva {
  width: 20%;
  float: left;
}
/* line 956, ../sass/utils/_base.sass */
section#reserva .reserva button {
  height: 55px;
}
/* line 959, ../sass/utils/_base.sass */
section#reserva .fones {
  width: 17%;
  float: left;
  color: #8b8a8a;
  margin-top: 5px;
  margin-left: -29px;
  font-size: 13px;
}
/* line 968, ../sass/utils/_base.sass */
section#reserva .fones div {
  margin: 7px 0px;
}

@media (max-width: 860px) {
  /* line 972, ../sass/utils/_base.sass */
  section#reserva {
    height: 100%;
  }
  /* line 975, ../sass/utils/_base.sass */
  section#reserva .check:first-of-type {
    border: none;
    margin: 0;
  }
  /* line 979, ../sass/utils/_base.sass */
  section#reserva .check, section#reserva .reserva, section#reserva .fones {
    width: 100%;
    float: none;
    display: block;
    margin: 15px 0px;
    text-align: center;
  }
  /* line 986, ../sass/utils/_base.sass */
  section#reserva button {
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
  }

  /* line 994, ../sass/utils/_base.sass */
  .modal .container .text ul {
    display: none;
  }
  /* line 997, ../sass/utils/_base.sass */
  .modal .container .text h2 {
    font-size: 20px;
  }
  /* line 1000, ../sass/utils/_base.sass */
  .modal .container .text p {
    font-size: 13px;
  }
  /* line 1005, ../sass/utils/_base.sass */
  .modal .container .form {
    padding-top: 10px;
  }
  /* line 1008, ../sass/utils/_base.sass */
  .modal .container .form .fields .field {
    width: 100%;
  }
  /* line 1010, ../sass/utils/_base.sass */
  .modal .container .form .fields .field input {
    height: 40px;
    margin-bottom: 8px;
  }
}
/* line 1015, ../sass/utils/_base.sass */
section.tour {
  padding: 40px 0px;
}
/* line 1017, ../sass/utils/_base.sass */
section.tour .video {
  width: 55%;
  height: 250px;
  background-image: url("../img/videoholder.jpg");
  background-position: center;
  background-size: cover;
  float: left;
  position: relative;
}
/* line 1026, ../sass/utils/_base.sass */
section.tour .video .text {
  color: #fafafa;
  text-align: center;
  width: 100%;
  padding: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 25px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 180px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 1036, ../sass/utils/_base.sass */
section.tour .video .play {
  width: 90px;
  height: 60px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #272f38;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -45px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  cursor: pointer;
}
/* line 1049, ../sass/utils/_base.sass */
section.tour .video .play:hover {
  background: #335476;
}
/* line 1052, ../sass/utils/_base.sass */
section.tour .video .play .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 21.8px;
  border-color: transparent transparent transparent #ffffff;
  margin: 17px auto;
}
/* line 1061, ../sass/utils/_base.sass */
section.tour .text {
  width: 40%;
  float: right;
}
/* line 1065, ../sass/utils/_base.sass */
section.tour .text h2 {
  font-size: 30px;
  font-family: "gotham_lightregular", sans-serif;
  margin-bottom: 20px;
}
/* line 1071, ../sass/utils/_base.sass */
section.tour .text p {
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 1076, ../sass/utils/_base.sass */
section.tour .text a {
  background: #335476;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  padding: 20px;
  display: block;
  margin: 20px auto;
  font-size: 15px;
}

@media (max-width: 700px) {
  /* line 1087, ../sass/utils/_base.sass */
  section.tour {
    padding-top: 0px;
  }
  /* line 1089, ../sass/utils/_base.sass */
  section.tour .video {
    margin: 20px 0px;
    display: block;
    float: none;
    width: 100%;
  }
  /* line 1097, ../sass/utils/_base.sass */
  section.tour .text {
    display: none;
  }
}
/* line 1101, ../sass/utils/_base.sass */
section.footer-subs {
  padding: 60px 0px;
  background: #fdfdfd;
}
/* line 1105, ../sass/utils/_base.sass */
section.footer-subs .container {
  max-width: 600px;
}
/* line 1108, ../sass/utils/_base.sass */
section.footer-subs h1 {
  font-size: 24px;
  font-family: "gotham_lightregular", sans-serif;
  color: #1d1d1f;
  text-align: center;
}
/* line 1114, ../sass/utils/_base.sass */
section.footer-subs .divisao {
  width: 100%;
  height: 1px;
  background: #1d1d1e;
  display: block;
  margin: 50px 0px;
}
/* line 1122, ../sass/utils/_base.sass */
section.footer-subs ul li {
  display: block;
  text-align: center;
  font-family: "gotham_lightregular", sans-serif;
  margin: 20px 0px;
}
/* line 1128, ../sass/utils/_base.sass */
section.footer-subs .center {
  text-align: center;
}
/* line 1130, ../sass/utils/_base.sass */
section.footer-subs ul.social {
  display: inline-block;
  overflow: hidden;
  *zoom: 1;
  margin: 10px auto;
}
/* line 1134, ../sass/utils/_base.sass */
section.footer-subs ul.social li {
  float: left;
  margin: 5px;
}
/* line 1137, ../sass/utils/_base.sass */
section.footer-subs ul.social li a {
  width: 38px;
  height: 38px;
  display: block;
  background: url("../img/facebook.png");
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 1144, ../sass/utils/_base.sass */
section.footer-subs ul.social li a:hover {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 1147, ../sass/utils/_base.sass */
section.footer-subs ul.social li a.instagram {
  background: url("../img/instagram.png");
}
/* line 1150, ../sass/utils/_base.sass */
section.footer-subs form {
  width: 100%;
  margin: 20px auto;
  display: block;
}
/* line 1154, ../sass/utils/_base.sass */
section.footer-subs form input {
  width: 100%;
  height: 50px;
  border: 1px solid #1d1d1e;
  font-family: "gotham_lightregular", sans-serif;
  color: #1d1d1e;
  font-size: 16px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1164, ../sass/utils/_base.sass */
section.footer-subs form button {
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  margin: 10px auto;
  display: block;
  background: #4c1a0d;
}
/* line 1172, ../sass/utils/_base.sass */
section.footer-subs form button:hover {
  background: #733333;
}

/* line 1175, ../sass/utils/_base.sass */
.relative {
  position: relative;
}

/* line 1178, ../sass/utils/_base.sass */
.after-datepicker {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  z-index: 99999999;
}

/* line 1188, ../sass/utils/_base.sass */
#ui-datepicker-div {
  position: fixed !important;
  width: 80vw;
  padding: 5px;
  top: 50vh !important;
  left: 50vw !important;
  margin-top: -30vh !important;
  margin-left: -180px !important;
  max-width: 360px;
  z-index: 9999999999 !important;
}
/* line 1201, ../sass/utils/_base.sass */
#ui-datepicker-div .ui-datepicker-calendar span {
  font-size: 70% !important;
}
/* line 1205, ../sass/utils/_base.sass */
#ui-datepicker-div td a {
  padding: 7px;
}

@media (max-width: 440px) {
  /* line 1210, ../sass/utils/_base.sass */
  #ui-datepicker-div {
    margin-left: -44vw !important;
  }
}
@media (max-width: 400px) {
  /* line 1216, ../sass/utils/_base.sass */
  #ui-datepicker-div td a {
    padding: 6px 5px;
  }
}
/* line 1, ../sass/pages/_home.sass */
.transparent-menu {
  height: 55px;
  width: 100%;
  display: none;
}
/* line 5, ../sass/pages/_home.sass */
.transparent-menu .menu-link {
  background-position: 0 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  float: right;
  margin: 27px 0px;
}

/* line 14, ../sass/pages/_home.sass */
section.banner {
  background: url("../img/banner/home1.jpg") #fff center no-repeat;
  background-size: cover !important;
  background-position: center !important;
  height: 90vh;
  width: 100%;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
}
/* line 22, ../sass/pages/_home.sass */
section.banner .logoImg {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}
/* line 26, ../sass/pages/_home.sass */
section.banner .logoImg img {
  max-width: 50%;
}
/* line 29, ../sass/pages/_home.sass */
section.banner .slider {
  padding-top: 60px;
}
/* line 32, ../sass/pages/_home.sass */
section.banner .slider .navIcon {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-size: 30px;
  top: 50%;
  margin-top: -25px;
  line-height: 54px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 48, ../sass/pages/_home.sass */
section.banner .slider .navIcon:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* line 51, ../sass/pages/_home.sass */
section.banner .slider .navIcon.prevSlider {
  display: none;
}
/* line 55, ../sass/pages/_home.sass */
section.banner .slider .navIcon.nextSlider {
  display: none;
}
/* line 60, ../sass/pages/_home.sass */
section.banner .slider .content .text {
  float: left;
  width: 60%;
  position: relative;
  padding-top: 90px;
}
/* line 66, ../sass/pages/_home.sass */
section.banner .slider .content .text h1, section.banner .slider .content .text h2 {
  max-width: 90%;
  text-shadow: 1px 1px 1px #333;
  text-shadow: 1px 1px 1px 1px #333;
  width: 90%;
  color: white;
  text-align: right;
  padding-left: 50px;
  line-height: 1.5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
}
/* line 78, ../sass/pages/_home.sass */
section.banner .slider .content .text h1 {
  font-size: 27px;
  position: relative;
}
/* line 82, ../sass/pages/_home.sass */
section.banner .slider .content .text h1:after {
  content: "";
  width: 30%;
  background: #fafafa;
  height: 3px;
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  -moz-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.44);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.44);
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.44);
}
/* line 94, ../sass/pages/_home.sass */
section.banner .slider .content .text h2 {
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 98, ../sass/pages/_home.sass */
section.banner .slider .content .reserva {
  width: 30%;
  background: rgba(8, 8, 5, 0.5);
  float: right;
  padding: 10px 0px;
  padding-bottom: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 106, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .alteracoes {
  background: #435308;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 5px;
  color: #bcd663;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 115, ../sass/pages/_home.sass */
section.banner .slider .content .reserva button {
  width: 90%;
  display: block;
  margin: 10px auto;
}
/* line 120, ../sass/pages/_home.sass */
section.banner .slider .content .reserva span.ou {
  font-size: 10px;
  text-align: center;
  width: 100%;
  color: #fafafa;
  display: block;
  font-family: "gotham_lightregular", sans-serif;
  margin: 20px 0px 10px 0px;
}
/* line 129, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .tel {
  font-size: 15px;
  text-align: center;
  width: 100%;
  color: #fafafa;
  display: block;
  margin-bottom: 10px;
}
/* line 138, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .check {
  width: 100%;
  padding: 10px 10px;
  background: rgba(7, 7, 7, 0.5);
  margin: 10px 0px;
}
/* line 145, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .check input {
  background: url("../img/seta.png") right center no-repeat transparent;
  color: #fdfdfd;
  font-family: "gotham_lightregular", sans-serif;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 17px;
  height: 45px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 157, ../sass/pages/_home.sass */
section.banner .slider .content .reserva .check span {
  font-size: 13px;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  min-width: 20%;
  text-align: right;
  display: inline-block;
}
/* line 166, ../sass/pages/_home.sass */
section.banner .slider .content .reserva h1 {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 15px 0px;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  line-height: 1.3;
}
/* line 174, ../sass/pages/_home.sass */
section.banner .slider .content .reserva h1 span {
  display: block;
  font-size: 30px;
}

@media (max-width: 860px) {
  /* line 180, ../sass/pages/_home.sass */
  section.banner .transparent-menu {
    display: block;
  }
  /* line 182, ../sass/pages/_home.sass */
  section.banner .logoImg {
    display: block;
  }
  /* line 184, ../sass/pages/_home.sass */
  section.banner .slider {
    padding-top: 0;
  }
  /* line 187, ../sass/pages/_home.sass */
  section.banner .slider .container {
    height: 500px;
  }
  /* line 192, ../sass/pages/_home.sass */
  section.banner .slider .content .reserva {
    background: none;
  }
  /* line 195, ../sass/pages/_home.sass */
  section.banner .slider .content .reserva h1, section.banner .slider .content .reserva span.ou, section.banner .slider .content .reserva .tel {
    display: none;
  }
  /* line 197, ../sass/pages/_home.sass */
  section.banner .slider .content .text, section.banner .slider .content .reserva {
    display: block;
    float: none;
    width: 100%;
  }
  /* line 202, ../sass/pages/_home.sass */
  section.banner .slider .content .text .check, section.banner .slider .content .reserva .check {
    width: 48%;
    margin: 10px 1%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 208, ../sass/pages/_home.sass */
  section.banner .slider .content .text .check span, section.banner .slider .content .reserva .check span {
    display: block;
    margin: 5px 0px;
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 5px;
  }
  /* line 214, ../sass/pages/_home.sass */
  section.banner .slider .content .text .check input, section.banner .slider .content .reserva .check input {
    width: 100%;
    text-align: center;
    background: transparent;
  }
  /* line 218, ../sass/pages/_home.sass */
  section.banner .slider .content .text button, section.banner .slider .content .reserva button {
    width: 100%;
    padding: 15px;
    font-size: 23px;
    text-transform: uppercase;
  }
  /* line 223, ../sass/pages/_home.sass */
  section.banner .slider .content .text h1, section.banner .slider .content .reserva h1 {
    font-family: "gotham_lightregular", sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-left: 0;
  }
  /* line 231, ../sass/pages/_home.sass */
  section.banner .slider .content .text h1:after, section.banner .slider .content .reserva h1:after {
    height: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 234, ../sass/pages/_home.sass */
  section.banner .slider .content .text h2, section.banner .slider .content .reserva h2 {
    display: none;
  }
}
@media (max-width: 520px) {
  /* line 238, ../sass/pages/_home.sass */
  section.banner {
    height: 100vh;
  }
  /* line 240, ../sass/pages/_home.sass */
  section.banner .container {
    width: 98%;
  }
  /* line 244, ../sass/pages/_home.sass */
  section.banner .slider .content .text, section.banner .slider .content .reserva {
    display: block;
    float: none;
    width: 100%;
  }
  /* line 249, ../sass/pages/_home.sass */
  section.banner .slider .content .text h2, section.banner .slider .content .reserva h2 {
    margin-bottom: 80px;
  }
  /* line 252, ../sass/pages/_home.sass */
  section.banner .slider .content .text .check, section.banner .slider .content .reserva .check {
    width: 49%;
    margin: 10px 0.5%;
    float: left;
    padding: 10px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 259, ../sass/pages/_home.sass */
  section.banner .slider .content .text .check input, section.banner .slider .content .reserva .check input {
    font-size: 16px;
    padding: 5px;
  }
}
/* line 263, ../sass/pages/_home.sass */
section#confianca {
  padding: 50px 0px;
}
/* line 265, ../sass/pages/_home.sass */
section#confianca h1 {
  font-family: "gotham_boldregular", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #141414;
  margin: 30px 0px;
}
/* line 273, ../sass/pages/_home.sass */
section#confianca ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 275, ../sass/pages/_home.sass */
section#confianca ul li {
  width: 31%;
  float: left;
  margin: 10px 1%;
  text-align: center;
}
/* line 281, ../sass/pages/_home.sass */
section#confianca ul li h3 {
  font-size: 20px;
  margin: 10px 0px;
}
/* line 285, ../sass/pages/_home.sass */
section#confianca ul li img {
  margin: 20px auto;
}
/* line 288, ../sass/pages/_home.sass */
section#confianca ul li p {
  font-family: "gotham_lightregular", sans-serif;
  padding: 10px 30px;
}

@media (max-width: 860px) {
  /* line 294, ../sass/pages/_home.sass */
  section#confianca ul li {
    width: 100%;
    float: none;
    margin: 15px auto;
  }
}
/* line 299, ../sass/pages/_home.sass */
section#menuLinks {
  background: #fafafa;
  -moz-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
}
/* line 303, ../sass/pages/_home.sass */
section#menuLinks ul {
  width: 85%;
  margin: 0 auto;
}
/* line 307, ../sass/pages/_home.sass */
section#menuLinks ul li {
  width: 50%;
  float: left;
  height: 300px;
  background: url("../img/frente.jpg");
  -moz-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 316, ../sass/pages/_home.sass */
section#menuLinks ul li:hover {
  -moz-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
}
/* line 319, ../sass/pages/_home.sass */
section#menuLinks ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 324, ../sass/pages/_home.sass */
section#menuLinks ul li a span.title {
  position: absolute;
  left: 20px;
  color: white;
  bottom: 20px;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}

@media (max-width: 860px) {
  /* line 335, ../sass/pages/_home.sass */
  section#menuLinks ul li {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 530px;
  }
}
@media (max-width: 520px) {
  /* line 344, ../sass/pages/_home.sass */
  section#menuLinks ul {
    width: 100%;
  }
}
/* line 348, ../sass/pages/_home.sass */
section#testimonials {
  padding: 60px 0px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
}
/* line 355, ../sass/pages/_home.sass */
section#testimonials .buttons a {
  float: right;
  margin: 0 10px;
  display: block;
}
/* line 360, ../sass/pages/_home.sass */
section#testimonials .buttons a button {
  border: 2px solid #738c1a;
  background: #f5f5f5;
  color: #738c1a;
  padding: 17px;
  font-size: 15px;
  height: 50px;
}
/* line 368, ../sass/pages/_home.sass */
section#testimonials .buttons a button:hover {
  background: #738c1a;
  color: #f5f5f5;
}
/* line 371, ../sass/pages/_home.sass */
section#testimonials h1 {
  font-family: "gotham_boldregular", sans-serif;
  font-size: 26px;
  margin: 20px 0px;
  color: #1a1a1a;
}
/* line 377, ../sass/pages/_home.sass */
section#testimonials ul {
  margin: 30px 0px;
  overflow: hidden;
  *zoom: 1;
  padding: 30px 0px;
}
/* line 381, ../sass/pages/_home.sass */
section#testimonials ul li {
  width: 24%;
  float: left;
  text-align: center;
}
/* line 386, ../sass/pages/_home.sass */
section#testimonials ul li p {
  font-size: 20px;
  color: #6f6f6f;
  font-family: "gotham_boldregular", sans-serif;
  margin-bottom: 10px;
  padding: 0 15px;
}
/* line 393, ../sass/pages/_home.sass */
section#testimonials ul li .autor {
  font-size: 15px;
  color: #6f6f6f;
  margin-bottom: 5px;
}
/* line 398, ../sass/pages/_home.sass */
section#testimonials ul li .cidade {
  font-size: 13px;
  font-family: "gotham_lightregular", sans-serif;
  color: #6f6f6f;
}
/* line 403, ../sass/pages/_home.sass */
section#testimonials ul li img {
  max-width: 90%;
}

@media (max-width: 860px) {
  /* line 410, ../sass/pages/_home.sass */
  section#testimonials .container {
    text-align: center;
  }
  /* line 412, ../sass/pages/_home.sass */
  section#testimonials .buttons {
    display: inline-block;
  }
  /* line 414, ../sass/pages/_home.sass */
  section#testimonials .buttons a {
    float: none;
    display: inline-block;
  }
  /* line 417, ../sass/pages/_home.sass */
  section#testimonials h1 {
    text-align: center;
  }
  /* line 419, ../sass/pages/_home.sass */
  section#testimonials ul li {
    width: 100%;
    float: none;
    margin: 15px 0px;
    padding: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 427, ../sass/pages/_home.sass */
section#socials .face, section#socials .instagram {
  width: 50%;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
/* line 433, ../sass/pages/_home.sass */
section#socials .face.face h2, section#socials .instagram.face h2 {
  text-align: center;
}
/* line 438, ../sass/pages/_home.sass */
section#socials .face.instagram a.button, section#socials .instagram.instagram a.button {
  color: #b78706;
  border-color: #b78706;
}
/* line 442, ../sass/pages/_home.sass */
section#socials .face.instagram .number, section#socials .instagram.instagram .number {
  color: #2a2a2a;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 15px;
}
/* line 446, ../sass/pages/_home.sass */
section#socials .face.instagram .number span, section#socials .instagram.instagram .number span {
  font-size: 25px;
  font-family: "gotham_boldregular", sans-serif;
}
/* line 450, ../sass/pages/_home.sass */
section#socials .face a.button, section#socials .instagram a.button {
  background: transparent;
  border: 1px solid #3b5998;
  color: #3b5998;
  display: block;
  padding: 16px 15px;
  text-align: center;
  margin: 15px auto;
  width: 60%;
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 462, ../sass/pages/_home.sass */
section#socials .face h2, section#socials .instagram h2 {
  font-size: 20px;
  color: #2c2c2c;
  margin: 20px 0px;
}
/* line 467, ../sass/pages/_home.sass */
section#socials .face .bg, section#socials .instagram .bg {
  background: url("../img/faceBg.png") center no-repeat;
  min-height: 190px;
  text-align: center;
  padding-top: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #3b5998;
}
/* line 475, ../sass/pages/_home.sass */
section#socials .face .bg .numFace, section#socials .instagram .bg .numFace {
  font-size: 40px;
}
/* line 478, ../sass/pages/_home.sass */
section#socials .face .bg .people, section#socials .instagram .bg .people {
  font-family: "gotham_lightregular", sans-serif;
  padding: 0 30px;
}

@media (max-width: 860px) {
  /* line 484, ../sass/pages/_home.sass */
  section#socials .face, section#socials .instagram {
    width: 100%;
    float: none;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 1, ../sass/pages/_page.sass */
section.banner.page {
  background-color: #333;
}
/* line 5, ../sass/pages/_page.sass */
section.banner.page .content .text {
  width: 100%;
}
/* line 7, ../sass/pages/_page.sass */
section.banner.page .content .text h1 {
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
/* line 13, ../sass/pages/_page.sass */
section.banner.page .content .text h1:after {
  display: none;
}

@media (max-width: 1124px) {
  /* line 18, ../sass/pages/_page.sass */
  section.banner.page .content .text h1 {
    font-size: 35px;
    margin-top: 50px;
  }
}
/* line 22, ../sass/pages/_page.sass */
section#menuLinks.page {
  background: #fafafa;
  padding-top: 70px;
}
/* line 26, ../sass/pages/_page.sass */
section#menuLinks.page.chapada {
  background: #080805;
}
/* line 30, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .preco {
  width: 30%;
  position: absolute;
  right: 10px;
  bottom: 35px;
}
/* line 36, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .preco span {
  display: block;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  margin-bottom: 5px;
  font-size: 19px;
}
/* line 44, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .preco span.rs {
  font-size: 34px;
}
/* line 48, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo {
  width: 60%;
  position: absolute;
  left: 30px;
  bottom: 15px;
}
/* line 53, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo span {
  display: block;
  color: #fafafa;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 57, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo span.nome {
  font-size: 30px;
}
/* line 60, ../sass/pages/_page.sass */
section#menuLinks.page ul li a .tipo span.quantidade {
  font-size: 19px;
}

@media (max-width: 400px) {
  /* line 70, ../sass/pages/_page.sass */
  section#menuLinks.page ul li a .tipo span.quantidade {
    font-size: 12px;
  }
  /* line 73, ../sass/pages/_page.sass */
  section#menuLinks.page ul li a .tipo span.nome {
    line-height: 36px;
  }
  /* line 77, ../sass/pages/_page.sass */
  section#menuLinks.page ul li a .preco span {
    font-size: 12px;
  }
  /* line 80, ../sass/pages/_page.sass */
  section#menuLinks.page ul li a .preco span.rs {
    font-size: 26px;
  }
}
/* line 2, ../sass/pages/_pacotes.sass */
section.banner .navigation {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
/* line 7, ../sass/pages/_pacotes.sass */
section.banner .navigation .option {
  margin: 5px;
  float: left;
  height: 11px;
  width: 80px;
  background: rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* line 16, ../sass/pages/_pacotes.sass */
section.banner .navigation .option.active, section.banner .navigation .option:hover {
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 860px) {
  /* line 21, ../sass/pages/_pacotes.sass */
  section.banner .navigation {
    display: block;
  }
}
/* line 24, ../sass/pages/_pacotes.sass */
section.why {
  padding: 40px 0px;
  background: #f5f5f5;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 29, ../sass/pages/_pacotes.sass */
section.why .container {
  max-width: 960px;
}
/* line 31, ../sass/pages/_pacotes.sass */
section.why h1 {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 30px;
  margin: 20px 0px;
  color: #434343;
  line-height: 45px;
}
/* line 38, ../sass/pages/_pacotes.sass */
section.why p {
  font-size: 15px;
  line-height: 1.7;
  color: #434343;
}
/* line 43, ../sass/pages/_pacotes.sass */
section.why img {
  margin: 30px 0px;
  max-width: 100%;
}
/* line 48, ../sass/pages/_pacotes.sass */
section.why .divisao {
  width: 10%;
  height: 1px;
  display: block;
  background: #131313;
  margin: 65px 0px;
}
/* line 55, ../sass/pages/_pacotes.sass */
section.why ul.event {
  margin: 40px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 58, ../sass/pages/_pacotes.sass */
section.why ul.event li {
  float: left;
  width: 25%;
  margin: 0px 4%;
  text-align: center;
}
/* line 64, ../sass/pages/_pacotes.sass */
section.why ul.event li img {
  margin: 10px 0px;
}
/* line 67, ../sass/pages/_pacotes.sass */
section.why ul.event li h3 {
  font-size: 15px;
  color: #131313;
}
/* line 71, ../sass/pages/_pacotes.sass */
section.why ul.event li h4 {
  font-family: "gotham_lightregular", sans-serif;
  margin: 10px 0px;
  line-height: 1.5;
}

@media (max-width: 700px) {
  /* line 79, ../sass/pages/_pacotes.sass */
  section.banner .navigation .option {
    width: 70px;
  }

  /* line 85, ../sass/pages/_pacotes.sass */
  section.why ul.event li {
    width: 100%;
    display: block;
    float: none;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 90, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text {
    padding-top: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 94, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h3, section.why ul.event li .text h4 {
    font-size: 20px;
  }
  /* line 97, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    padding: 40px;
  }
  /* line 99, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text, section.why ul.event li img {
    float: left;
    width: 50%;
    margin: 0;
  }
  /* line 105, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    padding: 25px;
  }
  /* line 109, ../sass/pages/_pacotes.sass */
  section.why ul.event li:nth-of-type(even) .text, section.why ul.event li:nth-of-type(even) img {
    float: right;
  }
}
/* line 115, ../sass/pages/_pacotes.sass */
.lists {
  overflow: hidden;
  *zoom: 1;
}
/* line 117, ../sass/pages/_pacotes.sass */
.lists ul {
  float: left;
  width: 30%;
  margin: 1.5;
}
/* line 122, ../sass/pages/_pacotes.sass */
.lists ul li {
  margin: 10px 5px;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 16px;
}
/* line 127, ../sass/pages/_pacotes.sass */
.lists ul li .i {
  display: inline-block;
  margin-right: 5px;
}
/* line 131, ../sass/pages/_pacotes.sass */
.lists ul li .i img {
  margin: 0;
}
/* line 133, ../sass/pages/_pacotes.sass */
.lists ul li:first-of-type {
  font-family: "gotham_boldregular", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

@media (max-width: 860px) {
  /* line 140, ../sass/pages/_pacotes.sass */
  .lists ul {
    width: 100%;
    margin: 30px 0px;
    float: none;
  }
}
/* line 144, ../sass/pages/_pacotes.sass */
section.infos {
  padding: 40px 0px;
  background: #e9e9e9;
}
/* line 148, ../sass/pages/_pacotes.sass */
section.infos .container {
  max-width: 960px;
}
/* line 150, ../sass/pages/_pacotes.sass */
section.infos h1 {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 30px;
  margin: 20px 0px;
  color: #434343;
}
/* line 156, ../sass/pages/_pacotes.sass */
section.infos div.line {
  content: "";
  width: 10%;
  height: 1px;
  margin: 55px 0px;
  background: #454545;
  display: block;
}
/* line 166, ../sass/pages/_pacotes.sass */
section.infos .obs {
  font-family: "gotham_lightregular", sans-serif;
}
/* line 169, ../sass/pages/_pacotes.sass */
section.infos .obs a {
  font-family: "gotham_boldregular", sans-serif;
  text-decoration: underline;
  color: #434343;
}
/* line 173, ../sass/pages/_pacotes.sass */
section.infos ul.prices {
  margin: 30px 0px;
}
/* line 175, ../sass/pages/_pacotes.sass */
section.infos ul.prices li {
  overflow: hidden;
  *zoom: 1;
  width: 50%;
  margin: 10px 0px;
}
/* line 179, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left {
  float: left;
}
/* line 181, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .text {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 12px;
  margin: 5px 0px;
}
/* line 185, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons {
  background: url("../img/person.png");
  width: 40px;
  height: 32px;
}
/* line 190, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons.two {
  width: 80px;
}
/* line 193, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons.three {
  width: 120px;
}
/* line 196, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .left .persons.four {
  width: 160px;
}
/* line 198, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .value {
  float: right;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 202, ../sass/pages/_pacotes.sass */
section.infos ul.prices li .value span {
  font-size: 30px;
}

@media (max-width: 860px) {
  /* line 208, ../sass/pages/_pacotes.sass */
  section.infos .obs {
    line-height: 1.4;
  }
  /* line 211, ../sass/pages/_pacotes.sass */
  section.infos ul.prices li {
    width: 100%;
  }
  /* line 214, ../sass/pages/_pacotes.sass */
  section.infos ul.prices li .value {
    font-size: 16px;
  }
  /* line 217, ../sass/pages/_pacotes.sass */
  section.infos ul.prices li .value span {
    font-size: 20px;
  }
}
/* line 220, ../sass/pages/_pacotes.sass */
section.more {
  padding: 40px 0px;
  background: #f5f5f5;
}
/* line 224, ../sass/pages/_pacotes.sass */
section.more ul {
  font-family: "gotham_lightregular", sans-serif;
  margin: 40px 0px;
}
/* line 227, ../sass/pages/_pacotes.sass */
section.more ul li {
  margin: 25px 0px;
  line-height: 1.5;
}
/* line 231, ../sass/pages/_pacotes.sass */
section.more .container {
  max-width: 960px;
}
/* line 233, ../sass/pages/_pacotes.sass */
section.more h1 {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 30px;
  margin: 20px 0px;
  color: #434343;
}

/* line 240, ../sass/pages/_pacotes.sass */
section.orcamento {
  background: #2c2c2c;
  padding: 20px 0px;
}
/* line 244, ../sass/pages/_pacotes.sass */
section.orcamento a {
  background: #738c1a;
  display: block;
  text-align: center;
  font-family: "gotham_lightregular", sans-serif;
  color: #fafafa;
  padding: 17px;
  width: 145px;
  margin: 0 auto;
}

@media (max-width: 520px) {
  /* line 258, ../sass/pages/_pacotes.sass */
  section.banner .navigation .option {
    width: 40px;
  }

  /* line 261, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text {
    padding-top: 35px;
  }
  /* line 264, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h3, section.why ul.event li .text h4 {
    font-size: 16px;
  }
  /* line 267, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    padding: 5px;
  }
}
@media (max-width: 400px) {
  /* line 274, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text {
    padding-top: 10px;
  }
  /* line 277, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h3 {
    font-size: 15px;
  }
  /* line 280, ../sass/pages/_pacotes.sass */
  section.why ul.event li .text h4 {
    font-size: 13px;
    padding: 5px;
  }

  /* line 287, ../sass/pages/_pacotes.sass */
  section.infos ul.prices li .value {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 3px;
  }
}
/* line 1, ../sass/pages/_passeios.sass */
section.banner.page.passeios {
  background: url("../img/banner/passeios.jpg") no-repeat center;
}

/* line 3, ../sass/pages/_passeios.sass */
section.banner.page.spa {
  background: url("../img/banner/spa.jpg") no-repeat center;
}

/* line 5, ../sass/pages/_passeios.sass */
section.banner.page.gastronomia {
  background: url("../img/banner/gastronomia.jpg") no-repeat center;
}

/* line 8, ../sass/pages/_passeios.sass */
section.zigzag {
  background: #f5f5f5;
  color: #454545;
}
/* line 13, ../sass/pages/_passeios.sass */
section.zigzag .container {
  max-width: 960px;
}
/* line 16, ../sass/pages/_passeios.sass */
section.zigzag .container .fraselink {
  font-size: 15px;
  line-height: 1.7;
  color: #434343;
  font-family: "gotham_lightregular", sans-serif;
  margin-bottom: 5px;
}
/* line 23, ../sass/pages/_passeios.sass */
section.zigzag .container .fraselink a {
  font-family: "gotham_boldregular", sans-serif;
  text-decoration: underline;
  color: #131313;
}
/* line 28, ../sass/pages/_passeios.sass */
section.zigzag .container .frase2 {
  margin-bottom: 30px;
}
/* line 31, ../sass/pages/_passeios.sass */
section.zigzag .container .divisao {
  width: 10%;
  height: 1px;
  display: block;
  background: #131313;
  margin: 35px 0px;
}
/* line 39, ../sass/pages/_passeios.sass */
section.zigzag .container ul li {
  margin: 30px 0px 50px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../sass/pages/_passeios.sass */
section.zigzag .container ul li a {
  color: #434343;
}
/* line 45, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto {
  width: 50%;
  height: 250px;
  float: left;
  background: url("../img/frente.jpg");
  -moz-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 210px;
  color: white;
}
/* line 58, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto.pacote {
  padding-top: 140px;
}
/* line 62, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto span.quantidade {
  font-size: 15px;
  margin-left: 10px;
}
/* line 66, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto span.correcaoquantidade {
  display: block;
  margin: 5px 0px;
}
/* line 70, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto span.nome {
  line-height: 36px;
}
/* line 73, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .preco {
  text-align: right;
  padding: 20px 0px;
}
/* line 76, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .preco span {
  display: block;
  font-size: 12px;
}
/* line 80, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .preco span.rs {
  font-family: "gotham_lightregular", sans-serif;
  font-size: 21px;
  margin-top: 5px;
}
/* line 85, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .correcaopreco {
  width: 40%;
  float: right;
  margin-top: -4px;
}
/* line 90, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .correcaoprecoplus {
  width: 40%;
  float: right;
  margin-top: -83px;
}
/* line 95, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .title {
  margin-top: 6px;
}
/* line 98, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .correcaotitle {
  margin-top: 19px;
}
/* line 101, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .title, section.zigzag .container ul li .foto .price {
  display: inline-block;
  color: #f5f5f5;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 107, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .price {
  float: right;
}
/* line 109, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto .price span {
  font-size: 22px;
}
/* line 112, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .foto:hover {
  -moz-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85);
}
/* line 116, ../sass/pages/_passeios.sass */
section.zigzag .container ul li .text {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0px 10px;
  font-family: "gotham_lightregular", sans-serif;
  line-height: 1.6;
  font-size: 15px;
}
/* line 126, ../sass/pages/_passeios.sass */
section.zigzag .container ul li:nth-of-type(even) .foto, section.zigzag .container ul li:nth-of-type(even) .text {
  float: right;
}

/* line 133, ../sass/pages/_passeios.sass */
.contratarPacotePasseio .contratar h4, .contratarPacoteSpa .contratar h4 {
  color: #fefefe;
  text-align: center;
  font-size: 25px;
}
/* line 138, ../sass/pages/_passeios.sass */
.contratarPacotePasseio .contratar .info, .contratarPacoteSpa .contratar .info {
  display: block;
  width: 75px;
  height: 75px;
  background: url("../img/info2.png") no-repeat center;
  margin: 55px auto;
}

@media (max-width: 860px) {
  /* line 150, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto, section.zigzag .container ul li .text {
    width: 100%;
    float: none;
    margin: 15px 0px;
  }

  /* line 155, ../sass/pages/_passeios.sass */
  section.pack ul.threeColumn > li .foto .price {
    margin-top: 9px;
  }
}
/* line 158, ../sass/pages/_passeios.sass */
section.pack {
  background: #fafafa;
  color: #000;
  padding: 40px 0px;
  padding-bottom: 150px;
  border-bottom: 62px solid #2c2c2c;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.18);
}
/* line 170, ../sass/pages/_passeios.sass */
section.pack .container {
  overflow: visible;
}
/* line 173, ../sass/pages/_passeios.sass */
section.pack h1 {
  font-size: 30px;
  margin: 20px 0px;
}
/* line 177, ../sass/pages/_passeios.sass */
section.pack .contratar {
  position: absolute;
  bottom: -180px;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  padding: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fefdfd;
  color: #3f3f3f;
  -moz-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
}
/* line 189, ../sass/pages/_passeios.sass */
section.pack .contratar .info {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: url("../img/info.png") no-repeat center;
  margin-right: 20px;
  float: left;
}
/* line 197, ../sass/pages/_passeios.sass */
section.pack .contratar .text {
  float: right;
  width: calc(100% - 95px);
}
/* line 201, ../sass/pages/_passeios.sass */
section.pack .contratar h4 {
  font-size: 25px;
  margin: 10px 0px;
}
/* line 205, ../sass/pages/_passeios.sass */
section.pack .contratar p {
  font-family: "gotham_lightregular", sans-serif;
}
/* line 208, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn {
  overflow: hidden;
  *zoom: 1;
}
/* line 210, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li {
  width: 30%;
  margin: 0 1.5%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-family: "gotham_lightregular", sans-serif;
  font-size: 16px;
}
/* line 219, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li ul {
  margin-top: 15px;
}
/* line 221, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li ul li {
  margin: 15px 0px;
}
/* line 225, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li p {
  margin: 30px 0;
  line-height: 2;
}
/* line 228, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto {
  background: url("../img/frente.jpg") center;
  background-size: 100% 100%;
  width: 100%;
  height: 200px;
  -moz-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 160px;
  border-bottom: 10px solid #111111;
  margin-bottom: 20px;
}
/* line 240, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .title {
  margin-top: 6px;
}
/* line 243, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .title, section.pack ul.threeColumn > li .foto .price {
  display: inline-block;
  color: #f5f5f5;
  font-size: 20px;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 250, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .price {
  float: right;
  font-size: 17px;
}
/* line 253, ../sass/pages/_passeios.sass */
section.pack ul.threeColumn > li .foto .price span {
  font-size: 17px;
}

@media (max-width: 860px) {
  /* line 257, ../sass/pages/_passeios.sass */
  section.pack {
    border-bottom: 0px solid #2c2c2c;
    padding-bottom: 40px;
  }
  /* line 260, ../sass/pages/_passeios.sass */
  section.pack .contratar {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  /* line 268, ../sass/pages/_passeios.sass */
  section.pack .contratar .info {
    display: none;
  }
  /* line 271, ../sass/pages/_passeios.sass */
  section.pack .contratar .text {
    display: block;
    float: none;
    width: 100%;
  }
  /* line 275, ../sass/pages/_passeios.sass */
  section.pack h1 {
    font-family: "gotham_lightregular", sans-serif;
    text-align: center;
  }
  /* line 279, ../sass/pages/_passeios.sass */
  section.pack ul.threeColumn li {
    width: 100%;
    float: none;
  }
}
@media (max-width: 520px) {
  /* line 288, ../sass/pages/_passeios.sass */
  .contratarPacotePasseio .contratar p {
    display: visible;
  }

  /* line 291, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto .correcaotitle {
    max-width: 140px;
  }

  /* line 295, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto span.correcaoquantidade {
    font-size: 12px;
  }

  /* line 298, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto .preco span.rs {
    display: block;
    font-size: 22px;
    margin-top: 6px;
  }

  /* line 303, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto .title {
    margin-top: 11px;
  }

  /* line 306, ../sass/pages/_passeios.sass */
  section.zigzag .container ul li .foto .title, section.zigzag .container ul li .foto .price {
    display: inline-block;
    color: #f5f5f5;
    font-size: 16px;
    font-family: "gotham_lightregular", sans-serif;
  }
}
/* line 1, ../sass/pages/_eventos.sass */
section.banner.page.eventos {
  background: url("../img/banner/passeios.jpg") no-repeat center;
}
/* line 4, ../sass/pages/_eventos.sass */
section.banner.page.eventos button {
  margin: 30px auto;
  display: block;
}

/* line 1, ../sass/pages/_tarifario.sass */
section.tarifario {
  padding: 30px 0px;
}
/* line 4, ../sass/pages/_tarifario.sass */
section.tarifario p {
  font-size: 15px;
  line-height: 1.7;
  color: #434343;
  font-family: "gotham_lightregular", sans-serif;
}
/* line 10, ../sass/pages/_tarifario.sass */
section.tarifario p a {
  font-family: "gotham_boldregular", sans-serif;
  text-decoration: underline;
  color: #131313;
}
/* line 15, ../sass/pages/_tarifario.sass */
section.tarifario .divisao {
  width: 10%;
  height: 1px;
  display: block;
  background: #131313;
  margin: 65px 0px;
}
/* line 22, ../sass/pages/_tarifario.sass */
section.tarifario h1 {
  font-size: 30px;
  font-family: "gotham_lightregular", sans-serif;
  color: #2c2c2c;
  text-align: center;
  margin: 70px 0px;
}
/* line 29, ../sass/pages/_tarifario.sass */
section.tarifario .title {
  background: #2c2c2c;
  color: #fefefe;
  font-size: 19px;
  font-family: "gotham_boldregular", sans-serif;
  padding: 20px;
  width: 100%;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 39, ../sass/pages/_tarifario.sass */
section.tarifario .subtitle {
  font-size: 15px;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
  padding: 10px;
  display: block;
  text-transform: uppercase;
}
/* line 47, ../sass/pages/_tarifario.sass */
section.tarifario .left {
  width: 48%;
  float: left;
}
/* line 51, ../sass/pages/_tarifario.sass */
section.tarifario .right {
  width: 48%;
  float: right;
}
/* line 56, ../sass/pages/_tarifario.sass */
section.tarifario .left table, section.tarifario .right table {
  border-spacing: 5px;
  border-collapse: separate;
  width: 100%;
}
/* line 63, ../sass/pages/_tarifario.sass */
section.tarifario .left table thead tr td, section.tarifario .right table thead tr td {
  background: #2c2c2c;
  padding: 15px 5px;
  color: #fefefe;
  font-family: "gotham_boldregular", sans-serif;
}
/* line 70, ../sass/pages/_tarifario.sass */
section.tarifario .left table tr td, section.tarifario .right table tr td {
  border: 1px solid #2c2c2c;
  padding: 10px;
  font-family: "gotham_lightregular", sans-serif;
  text-align: center;
}

@media (max-width: 1124px) {
  /* line 82, ../sass/pages/_tarifario.sass */
  section.tarifario .left table tr td, section.tarifario .right table tr td {
    font-size: 13px;
  }
}
@media (max-width: 860px) {
  /* line 87, ../sass/pages/_tarifario.sass */
  section.tarifario .left, section.tarifario .right {
    display: block;
    float: none;
    width: 100%;
    margin: 30px 0px;
  }
}
@media (max-width: 440px) {
  /* line 98, ../sass/pages/_tarifario.sass */
  section.tarifario .left table tr td, section.tarifario .right table tr td {
    padding: 6px;
    font-size: 10px;
  }
}
