section.banner
  background: url('../img/banner/home1.jpg') #fff center no-repeat
  height: 582px
  width: 100%
  +box-shadow(1px 0px 9px 1px rgba(0,0,0,0.5))

  .slider
    padding-top: 60px
    .content
      .text
        float: left
        width: 60%
        position: relative
        padding-top: 90px

        h1, h2
          max-width: 90%
          +text-shadow(1px 1px 1px 1px #333)
          width: 90%
          color: white
          text-align: right
          padding-left: 50px
          line-height: 1.5
          +box-sizing(border-box)
          margin-bottom: 50px


        h1
          font-size: 27px
          position: relative

          &:after
            content: ''
            width: 30%
            background: #fafafa
            height: 5px
            display: block
            position: absolute
            right: 0
            bottom: -10px
            +box-shadow(1px 1px 1px 1px #333)


        h2
          font-size: 15px
          font-family: $light

      .reserva
        width: 30%
        background: rgba(8,8,5,0.5)
        float: right
        padding: 10px 0px
        +box-sizing(border-box)

        button
          width: 90%
          display: block
          margin: 10px auto

        span.ou
          font-size: 10px
          text-align: center
          width: 100%
          color: #fafafa
          display: block
          font-family: $light
          margin: 20px 0px 10px 0px

        .tel
          font-size: 15px
          text-align: center
          width: 100%
          color: #fafafa
          display: block
          margin-bottom: 10px


        .check
          width: 100%
          padding: 10px 10px
          background: rgba(7,7,7,0.5)
          margin: 10px 0px


          input
            background: url('../img/seta.png') right center no-repeat transparent
            color: #fdfdfd
            font-family: $light
            border: none
            outline: none
            padding: 10px
            font-size: 17px
            height: 45px
            position: relative
            +box-sizing(border-box)

          span
            font-size: 13px
            color: #fafafa
            font-family: $light
            min-width: 20%
            text-align: right
            display: inline-block


        h1
          font-size: 12px
          text-align: center
          width: 100%
          margin: 15px 0px
          color: #fafafa
          font-family: $light
          line-height: 1.3
          span
            display: block
            font-size: 30px

+media-query(medium)
  section.banner
    .slider
      padding-top: 0
      .content
        .text, .reserva
          display: block
          float: none
          width: 100%

          .check
            input
              width: 65%
              text-align: center
          button
            width: 100%
            padding: 15px
            font-size: 23px
            text-transform: uppercase
          h1
            font-family: $light
            font-size: 16px
            width: 100%
            max-width: 100%
            text-align: center
            padding-left: 0

            &:after
              height: 0
              +box-shadow(none)
          h2
            display: none


section#confianca
  padding: 50px 0px
  h1
    font-family: $bold
    font-size: 30px
    text-align: center
    color: #141414
    margin: 30px 0px


  ul
    +clearfix
    li
      width: 31%
      float: left
      margin: 10px 1%
      text-align: center

      h3
        font-size: 20px
        margin: 10px 0px

      img
        margin: 20px auto

      p
        font-family: $light
        padding: 10px 30px

+media-query(medium)
  section#confianca
    ul li
      width: 100%
      float: none
      margin: 15px auto

section#menuLinks
  background: #080805
  +box-shadow(0px -3px 19px 5px rgba(0, 0, 0, 0.6))
  ul
    li
      width: 50%
      float: left
      height: 300px
      background: url('../img/frente.jpg')
      +box-shadow(inset 0px -57px 82px 18px rgba(0, 0, 0, 0.85))

      +transition(0.3s ease-out)

      &:hover
        +box-shadow(inset 0px -57px 82px 38px rgba(0, 0, 0, 0.85))

      a
        display: block
        width: 100%
        height: 100%
        position: relative
        span.title
          position: absolute
          left: 20px
          color: white
          bottom: 20px
          font-size: 20px
          font-family: $light

+media-query(medium)
  section#menuLinks
    ul li
      width: 100%
      float: none
      display: block
      margin: 0 auto
      max-width: 530px


section#testimonials
  padding: 60px 0px
  background: #f5f5f5
  .buttons
    a
      float: right
      margin: 0 10px
      display: block

      button
        border: 2px solid $verde
        background: #f5f5f5
        color: $verde
        padding: 20px

        &:hover
          background: $verde
          color: #f5f5f5
  h1
    font-family: $bold
    font-size: 26px
    margin: 20px 0px
    color: #1a1a1a

  ul
    margin: 30px 0px
    +clearfix
    padding: 30px 0px
    li
      width: 24%
      float: left
      text-align: center

      p
        font-size: 20px
        color: #6f6f6f
        font-family: $bold
        margin-bottom: 10px
        padding: 0 15px

      .autor
        font-size: 15px
        color: #6f6f6f
        margin-bottom: 5px

      .cidade
        font-size: 13px
        font-family: $light
        color: #6f6f6f

      img
        border: 1px solid #ddd
        max-width: 90%


+media-query(medium)
  section#testimonials
    .container
      text-align: center
    .buttons
      display: inline-block
      a
        float: none
        display: inline-block
    h1
      text-align: center
    ul li
      width: 100%
      float: none
      margin: 15px 0px
      padding: 40px
      +box-sizing(border-box)

section#socials
  .face, .instagram
    width: 50%
    padding: 20px
    +box-sizing(border-box)
    float: left

    &.face h2
      text-align: center


    &.instagram
      a.button
        color: #b78706
        border-color: #b78706

      .number
        color: #2a2a2a
        font-family: $light
        font-size: 15px
        span
          font-size: 25px
          font-family: $bold

    a.button
      background: transparent
      border: 1px solid #3b5998
      color: #3b5998
      display: block
      padding: 10px 15px
      text-align: center
      margin: 15px auto
      width: 60%
      font-family: $light

    h2
      font-size: 20px
      color: #2c2c2c
      margin: 20px 0px

    .bg
      background: url('../img/faceBg.png') center no-repeat
      min-height: 190px
      text-align: center
      padding-top: 40px
      +box-sizing(border-box)
      color: #3b5998

      .numFace
        font-size: 40px

      .people
        font-family: $light
        padding: 0 30px

+media-query(medium)
  section#socials
    .face, .instagram
      width: 100%
      float: none
      display: block
      +box-sizing(border-box)
