section.banner
  .navigation
    display: block
    position: absolute
    left: 10px
    bottom: 10px
    .option
      margin: 5px
      float: left
      height: 20px
      width: 100px
      background: rgba(255,255,255,0.2)
      +box-shadow(2px 2px 6px 1px rgba(0, 0, 0, 0.4))
      cursor: pointer

      &.active, &:hover
        background: rgba(255,255,255,0.8)

+media-query(medium)
  section.banner
    .navigation
      display: none

section.why
  padding: 40px 0px
  background: #f5f5f5
  font-family: $light

  .container
    max-width: 960px
  h1
    font-family: $light
    font-size: 30px
    margin: 20px 0px
    color: #434343
    line-height: 45px

  p
    font-size: 15px
    line-height: 1.7
    color: #434343

  img
    margin: 30px 0px
    max-width: 100%


  .divisao
    width: 10%
    height: 1px
    display: block
    background: #131313
    margin: 65px 0px

  ul.event
    margin: 40px 0px
    +clearfix
    li
      float: left
      width: 25%
      margin: 0px 4%
      text-align: center

      img
        margin: 10px 0px

      h3
        font-size: 15px
        color: #131313

      h4
        font-family: $light
        margin: 10px 0px
        line-height: 1.5

+media-query(med)
  section.why
    ul.event
      li
        width: 100%
        display: block
        float: none
        +clearfix
        .text
          padding-top: 50px
          +box-sizing(border-box)

          h3, h4
            font-size: 20px

          h4
            padding: 40px
        .text, img
          float: left
          width: 50%
          margin: 0

        .text
          h4
            padding: 25px

        &:nth-of-type(even)
          .text, img
            float: right




.lists
  +clearfix
  ul
    float: left
    width: 30%
    margin: 1.5

    li
      margin: 10px 5px
      font-family: $light
      font-size: 16px

      .i
        display: inline-block
        margin-right: 5px

        img
          margin: 0
      &:first-of-type
        font-family: $bold
        font-size: 15px
        margin-bottom: 20px

+media-query(medium)
  .lists
    ul
      width: 100%
      margin: 30px 0px
      float: none
section.infos
  padding: 40px 0px
  background: #e9e9e9

  .container
    max-width: 960px
  h1
    font-family: $light
    font-size: 30px
    margin: 20px 0px
    color: #434343

  div.line
    content: ''
    width: 10%
    height: 1px
    margin: 55px 0px
    background: #454545
    display: block



  .obs
    font-family: $light

    a
      font-family: $bold
      text-decoration: underline
      color: #434343
  ul.prices
    margin: 30px 0px
    li
      +clearfix
      width: 50%
      margin: 10px 0px
      .left
        float: left
        .text
          font-family: $light
          font-size: 12px
          margin: 5px 0px
        .persons
          background: url('../img/person.png')
          width: 40px
          height: 32px

          &.two
            width: 80px

          &.three
            width: 120px

          &.four
            width: 160px
      .value
        float: right
        font-size: 20px
        font-family: $light
        span
          font-size: 30px


+media-query(medium)
  section.infos
    .obs
      line-height: 1.4
    ul.prices
      li
        width: 100%

        .value
          font-size: 16px

          span
            font-size: 20px

section.more
  padding: 40px 0px
  background: #f5f5f5

  ul
    font-family: $light
    margin: 40px 0px
    li
      margin: 25px 0px
      line-height: 1.5

  .container
    max-width: 960px
  h1
    font-family: $light
    font-size: 30px
    margin: 20px 0px
    color: #434343


section.orcamento
  background: #2c2c2c
  padding: 20px 0px

  a
    background: $verde
    display: block
    text-align: center
    color: #fafafa
    text-transform: uppercase
    padding: 10px
    width: 40%
    margin: 0 auto

+media-query(small)

  section.why ul.event li .text
    padding-top: 35px

    h3, h4
      font-size: 16px

    h4
      padding: 5px


+media-query(supersmall)

  section.why ul.event li .text
    padding-top: 10px

    h3
      font-size: 15px

    h4
      font-size: 13px
      padding: 5px

