section.banner.page
  background: url('../img/banner/acomodacoes.jpg') center no-repeat #303030

  .content .text
    width: 100%
    h1
      font-family: $light
      text-align: center
      padding: 0
      width: 100%
      max-width: 100%
      &:after
        display: none

+media-query(large)
  section.banner.page .content .text
    h1
      font-size: 35px
      margin-top: 50px

section#menuLinks.page
  background: #fafafa
  padding-top: 70px

  &.chapada
    background: #080805

  ul li a
    .preco
      width: 30%
      position: absolute
      right: 10px
      bottom: 35px

      span
        display: block
        color: #fafafa
        font-family: $light
        text-align: center
        margin-bottom: 5px
        font-size: 19px

        &.rs
          font-size: 34px


    .tipo
      width: 60%
      position: absolute
      left: 30px
      bottom: 15px
      span
        display: block
        color: #fafafa
        font-family: $light
        &.nome
          font-size: 30px

        &.quantidade
          font-size: 19px
