section.tarifario
  padding: 30px 0px

  p
    font-size: 15px
    line-height: 1.7
    color: #434343
    font-family: $light

    a
      font-family: $bold
      text-decoration: underline
      color: #131313

  .divisao
    width: 10%
    height: 1px
    display: block
    background: #131313
    margin: 65px 0px

  h1
    font-size: 30px
    font-family: $light
    color: #2c2c2c
    text-align: center
    margin: 70px 0px

  .title
    background: #2c2c2c
    color: #fefefe
    font-size: 19px
    font-family: $bold
    padding: 20px
    width: 100%
    text-align: center
    +box-sizing(border-box)

  .subtitle
    font-size: 15px
    font-family: $light
    text-align: center
    padding: 10px
    display: block
    text-transform: uppercase

  table
    border-spacing: 5px
    border-collapse: separate
    width: 100%

    thead
      tr
        td
          background: #2c2c2c
          padding: 15px 5px
          color: #fefefe
          font-family: $bold

    tr
      td
        border: 1px solid #2c2c2c
        padding: 10px
        font-family: $light
        text-align: center


  .left
    width: 48%
    float: left

  .right
    width: 48%
    float: right

+media-query(medium)
  section.tarifario
    .left, .right
      display: block
      float: none
      width: 100%
      margin: 30px 0px
