
html, body
	width: 100%
	overflow-x: hidden
	padding: 0
	margin: 0

body
	position: relative

.container
	margin: 0 auto

h1, h2, h3, h4, h5
	font-family: $bold

a
	text-decoration: none

p
	line-height: 1.4

.notfounddiv
	text-align: center
	margin-bottom: 110px

	.container

		.fourcinza
			color: rgba(221, 221, 221, 0.53)
			font-size: 150px
			position: relative
			top: 78px
			z-index: -9

		h1
			font-size: 60px

		h2
			font-family: $light
			margin-top: 26px

.conteudo_central
	text-align: center
	margin-top: 30px

	h1
		font-family: $light
		margin-bottom: 30px

	#tour_virtual
		width: 650px
		height: 380px

	.lista_tour
		text-align: center
		margin: auto auto
		width: 60%
		max-width: 200px
		li
			font-family: $bold
			a
				+border-radius(5px)
				padding: 11px
				display: block
				color: white
				background: #167ac6
				margin: 6px 0px


#carousel-example-generic
	width: 1px !important
	min-width: 100% !important

#map
	width: 100%
	height: 300px
	// -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75)
	// -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75)
	// box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75)

.fixheader
	position: fixed
	top: -100vh
	width: 100%
	z-index: 9999999
	display: block
	+transition(0.3s ease-out)

.wrapper
	width: 100%
	display: none
	position: fixed
	top: 0
	z-index: 999999

.mobile-head
	height: 45px
	width: 100%
	background-color: #3d3d3d // Old browsers
	@include filter-gradient(#3d3d3d, #11110f, vertical)
	@include background-image(linear-gradient(top, #3d3d3d 0%,#11110f 100%))
	padding: 10px 0px
	+box-shadow(1px 0px 9px 1px rgba(0,0,0,0.5))
	display: none



	.menu-link
		@include small-sprite(menucamelot)
		width: small-sprite-width(menucamelot)
		height: small-sprite-height(menucamelot)
		cursor: pointer
		+transition(0.3s ease-out)
		float: right

	.mobile-logo
		float: left
		max-height: 38px


.mobile-reserva
	button
		.reserva-seta
			@include little-sprite(setinha)
			width: little-sprite-width(setinha)
			height: little-sprite-height(setinha)
			display: inline-block
			margin-left: 10px

		&.dois
			.reserva-seta
				+rotateZ(180deg)

+media-query(large)

	.mobile-head
		display: block

	.wrapper
		display: block

	#reserva.mobileFixed
		display: none

	.mobile-reserva
		button
			display: none
			width: 100%
			font-size: 20px
			padding: 20px
			background: #738c1a
			height: 60px

			&.dois
				background: #738c1a

	.fixheader
		display: none


	body
		padding-top: 63px

		section#reserva
			height: 100%
			padding: 10px 0px
			.fones
				margin-left: 0px



+media-query(medium)
	body
		padding-top: 0

	.mobile-head.home-head
		display: none

	.conteudo_central
		#tour_virtual
			width: 90%
			height: 60vh

.preheader
	background: #272626
	padding: 5px
	+box-shadow(1px 0px 9px 1px rgba(0,0,0,0.5))


	ul
		li
			display: inline-block
			width: 31%
			color: #8a8a8a
			font-family: $light
			font-size: 12px
			margin: 0 1%
			text-align: center


			.iconCalendar
				@include little-sprite(calendario)
				width: little-sprite-width(calendario)
				height: little-sprite-height(calendario)
				display: inline-block
				margin-right: 5px
				margin-bottom: -2px
			.iconPhone
				@include little-sprite(fone)
				width: little-sprite-width(fone)
				height: little-sprite-height(fone)
				display: inline-block
				margin-right: 5px
				margin-bottom: -3px

			&:first-of-type
				width: 40%

			&:nth-of-type(2)
				width: 20%

			&:nth-of-type(3)
				width: 30%

			strong
				font-family: $bold

			.phone
				line-height: 1.4

			ul
				li
					display: inline
					margin: 0 12px
					a
						color: #8a8a8a
					&:first-of-type
						width: 50%

					&:nth-of-type(2)
						width: 50%

header
	background-color: #3d3d3d // Old browsers
	@include filter-gradient(#3d3d3d, #11110f, vertical)
	@include background-image(linear-gradient(top, #3d3d3d 0%,#11110f 100%))
	padding: 10px 0px
	+box-sizing(border-box)
	+box-shadow(1px 0px 9px 1px rgba(0,0,0,0.5))
	height: 63px

	nav
		ul
			margin-top: -9px

	nav.mobile
		display: none

		.links
			a
				display: block
				color: white
				text-decoration: none
				padding: 5px 0px

	.mobile-close
		position: absolute
		top: 0px
		right: 0px
		display: none

		@include small-sprite(menucamelot)
		width: small-sprite-width(menucamelot)
		height: small-sprite-height(menucamelot)
		cursor: pointer
		+transition(0.3s ease-out)

	.logo
		float: left
		width: 20%

		img
			width: 100%
			min-width: 121px
			max-width: 242px
			text-align: center

	.hLogo
		width: 20%
		display: inline-block
		text-align: center

	nav
		float: right
		width: 79%
		ul
			li
				display: inline-block
				line-height: 60px
				font-size: 13px
				margin: 0 5px
				font-family: $bold

				a
					text-decoration: none
					color: #fafafa
					+border-radius(5px)
					padding: 10px
					font-family: $light

					&.active, &:hover
						color: #fafafa
						text-decoration: underline
						font-family: $bold

header .hLogo img
	max-height: 38px

+media-query(large)

	.preheader
		display: none

	header
		right: -100%
		position: fixed
		height: 100%
		background: #1d1d1d
		z-index: 999999999
		top: 0
		width: 70%
		padding-top: 20px
		padding-bottom: 50px
		+transition(0.3s ease-out)
		+box-sizing(border-box)

		.container
			max-height: 100%
			overflow-y: scroll


		&.aberto
			right: 0

		.mobile-close
			display: block

		.hLogo
			display: none

		nav.main
			display: none

		nav.mobile
			display: block

			ul
				height: 100%
				padding: 30px 0px




		.logo


			img
				padding: 10px
				width: 70%
				margin: 30px


		nav
			display: block
			width: 100%

			ul
				margin-top: 30px
				li
					display: block

					a
						display: block
						width: 100%
						font-size: 20px
						text-align: left
						padding: 0


form
	input
		outline: none

		&:read-only
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none

.hasDatepicker
	cursor: pointer

.container
	width: 90%
	max-width: 1060px
	margin: 0 auto
	display: block
	position: relative
	+clearfix

button
	padding: 14px 20px
	cursor: pointer
	border: none
	background: $verde
	color: white
	font-family: $light
	font-size: 15px
	height: 50px
	outline: none

	&:hover
		background: #5c7112
		span
			margin-left: 10px

	span
		color: $amarelo
		margin-left: 5px
		+transition(0.3s ease-out)


a
	cursor: pointer

.icon
	text-indent: -99999999

.next
	background: $azul
	color: white
	width: 100%
	padding: 10px

	ul
		margin: 0 auto
		display: inline-block
		li
			display: inline-block
			margin: 0 10px
			font-size: 14px
			text-align: center
			font-family: $light

			&:first-of-type
				font-family: $font

			button
				background: $amarelo
				color: $azul
				+border-radius(5px)
				border: 2px solid $amarelo
				font-family: $bold
				+transition(0.3s ease-out)

				&:hover
					background: $azul
					color: $amarelo


+media-query(large)
	.next
		ul
			width: 100%
			display: block
			li
				display: block
				width: 100%
				margin: 13px 0px





section#incompany
	background: $amarelo
	padding: 25px 0px

	h1
		font-size: 25px
		color: #2d2d2d
		display: inline-block
		margin-right: 30px
		line-height: 1.7
	button
		display: inline-block


+media-query(med)
	section#incompany
		h1, button
			text-align: center
			display: block
			margin: 10px auto

	section#menuLinks
		.container
			width: 100%

		ul
			li
				max-width: none
				background-size: cover

	section.footer-subs

		h1
			line-height: 35px



section#contato
	background: #3d4490
	padding: 30px 0px
	color: white

	.text, .fields, .message
		width: 30%
		margin: 0 1.5%
		float: left


	h1
		color: white
		font-size: 51px

	h2
		font-family: $light
		margin: 20px 0px
		line-height: 1.4

	form
		input
			width: 100%
			height: 50px
			margin-bottom: 25px
			font-size: 15px
			font-family: $light
			color: #3d4490
			padding: 5px 10px

		textarea
			width: 100%
			height: 125px
			resize: none
			margin-bottom: 25px
			padding: 15px 10px
			font-size: 15px
			font-family: $light
			color: #3d4490

		button
			padding-left: 50px
			padding-right: 50px
			+transition(0.3s ease-out)

			&:hover
				background: white
				color: $azul

+media-query(medium)
	section#contato
		.text
			width: 95%
		.fields, .message
			width: 45%




footer
	background: #353535
	+clearfix
	color: #fafafa
	height: 51px
	padding-top: 14px

	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.75)
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.75)
	box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.75)

	.seguro
		float: left
		width: 35%
		text-align: center
		padding-top: 5px

	.pagamentos
		width: 50%
		float: right

		p
			float: left
			margin-right: 20px
			line-height: 2.2

		img
			display: inline-block

+media-query(medium)
	footer
		.pagamentos
			float: right
			width: 60%
			display: block
			margin-top: -53px

			p
				display: none

			img
				display: block
				margin: 10px auto
				float: none

		.seguro
			margin-top: -10px
			float: none
			width: 30%
			display: block

			img
				display: block
				margin: 10px auto
				float: none

+media-query(small)
	footer
		.pagamentos, .seguro
			img
				height: 27px
				margin-top: 13px


	.modal
		.container
			.text
				p
					font-size: 10px



			.form
				.fields
					&.fieldsCV .field
						.labelFile
							margin: 0 2px !important
							font-size: 8px
							padding: 8px !important
							height: auto !important

						button
							margin: 0 2px !important
							font-size: 12px
							padding: 5px !important
							height: auto !important

				.textarea
					button
						width: 60%
					textarea
						width: 99%






.modal
	position: fixed
	width: 100vw
	height: 100vh
	display: block
	z-index: 9999999
	top: 0
	left: -100vw
	+clearfix
	background: rgba(255,255,255,0.4)
	padding: 30px 0px
	+transition(0.3s ease-out)


	.container
		min-height: 50%
		background: #1f1f1d
		padding: 50px 50px
		+box-sizing(border-box)
		height: 90vh
		overflow: scroll

		img
			max-width: 100%
			margin: 30px 0px

		h2
			font-size: 30px
			font-family: $bold
			text-transform: uppercase
			margin: 20px 0px
			color: #fdfdfd
			text-align: center

		.divisao
			height: 1px
			width: 15%
			background: #fafafa
			margin: 30px auto 30px auto
			display: block


		p
			font-family: $light
			color: #fefefe
			font-size: 16px
			margin: 20px 1.5%


		ul
			margin: 20px 0px
			li
				margin: 10px 0px
				font-family: $bold
				color: #fdfdfd

		.form
			width: 100%
			padding-top: 40px
			margin: 0 auto


			.fields
				+clearfix

				&.fieldsCV
					.field
						width: 100%
						margin: 0

						button
							width: 40%
							float: right
							line-height: 1.5


				.field
					float: left
					position: relative
					width: 30.3%
					margin: 0 1.5%

					.error
						display: block
						color: white


					input[type="file"]
						color: white
						position: absolute
						clip: rect(0px, 0px, 0px, 0px)
						display: block

					.labelFile
						color: #fafafa
						float: right
						background-color: #1f1f1d
						padding: 12px
						border: 2px solid #fafafa
						margin: 20px 0px
						display: inline-block
						margin-bottom: 0
						font-weight: 400
						text-align: center
						vertical-align: middle
						cursor: pointer
						background-image: none
						white-space: nowrap
						font-size: 15px
						text-transform: uppercase
						line-height: 1.5
						-webkit-user-select: none
						-moz-user-select: none
						-ms-user-select: none
						user-select: none
						overflow: hidden
						max-width: 43%

				input
					float: left
					width: 100%
					padding: 5px
					+box-sizing(border-box)
					font-size: 18px

					&::-webkit-input-placeholder
						color: #1f1f1d


					&:-moz-placeholder
						color: #1f1f1d


					&::-moz-placeholder
						color: #1f1f1d


					&:-ms-input-placeholder
						color: #1f1f1d


			.textarea

				display: block
				margin: 10px 1.5%
				width: 97%
				.error
					display: block
					color: white
					margin-top: 15px
				textarea
					width: 100%
					display: block
					height: 100px
					resize: none
					padding: 15px
					color: #1f1f1d
					font-family: $light
					+box-sizing(border-box)
					font-size: 18px

					&::-webkit-input-placeholder
						color: #1f1f1d


					&:-moz-placeholder
						color: #1f1f1d


					&::-moz-placeholder
						color: #1f1f1d


					&:-ms-input-placeholder
						color: #1f1f1d

			input, label
				display: block

			label
				font-family: $light
				color: white

			input
				height: 55px
				width: 100%
				color: #1f1f1d
				font-family: $light
				margin: 5px 0px 15px 0px

			button
				background: #738c1a
				color: #fafafa
				width: 30%
				float: right
				margin: 20px 1.5%
				border: 2px solid #738c1a
				+transition(0.3s ease-out)

				&:hover
					background: darken(#738c1a, 10%)

	.close-light, .close-pi
		background: white
		color: #1f1f1d
		+border-radius(5px)
		font-size: 20px
		border: 1px solid white
		display: block
		padding: 5px 13px
		position: absolute
		right: 10px
		top: 10px
		font-family: $bold
		font-size: 30px
		cursor: pointer

		&:hover
			background: white
			color: #738c1a

	.pic
		width: 100%
		text-align: center

		img
			max-width: 100%


section#reserva
	background: #2c2c2c
	color: #faf9f9
	padding: 0px 0px
	height: 55px

	.check
		width: 30%
		float: left

		&:first-of-type
			border-right: 1px solid #fafafa
			margin-right: 10px




		input
			background: url('../img/seta.png') right center no-repeat #2c2c2c
			color: #fdfdfd
			font-family: $light
			border: none
			outline: none
			padding: 10px
			font-size: 17px
			height: 55px
			position: relative
			cursor: pointer
			cursor: hand
			+box-sizing(border-box)

			&.disabled
				background: #2c2c2c


		label
			font-size: 11px
			font-family: $light



	.reserva
		width: 20%
		float: left

		button
			height: 55px

	.fones
		width: 17%
		float: left
		color: #8b8a8a
		margin-top: 5px
		margin-left: -29px
		font-size: 13px


		div
			margin: 7px 0px

+media-query(medium)
	section#reserva
		height: 100%

		.check:first-of-type
			border: none
			margin: 0

		.check, .reserva, .fones
			width: 100%
			float: none
			display: block
			margin: 15px 0px
			text-align: center

		button
			width: 100%
			font-size: 24px
			text-transform: uppercase

	.modal
		.container
			.text
				ul
					display: none

				h2
					font-size: 20px

				p
					font-size: 13px



			.form
				padding-top: 10px
				.fields
					.field
						width: 100%
						input
							height: 40px
							margin-bottom: 8px


section.tour
	padding: 40px 0px
	.video
		width: 55%
		height: 250px
		background-image: url('../img/videoholder.jpg')
		background-position: center
		background-size: cover
		float: left
		position: relative

		.text
			color: #fafafa
			text-align: center
			width: 100%
			padding: 40px
			+box-sizing(border-box)
			font-size: 25px
			+text-shadow(1px 1px 1px rgba(0,0,0,0.5))
			margin-top: 180px
			font-family: $light
		.play
			width: 90px
			height: 60px
			+border-radius(15px)
			background: #272f38
			position: absolute
			top: 50%
			margin-top: -30px
			left: 50%
			margin-left: -45px
			+transition(0.3s ease-out)
			cursor: pointer

			&:hover
				background: #335476

			.triangle
				width: 0
				height: 0
				border-style: solid
				border-width: 12.5px 0 12.5px 21.8px
				border-color: transparent transparent transparent #ffffff
				margin: 17px auto


	.text
		width: 40%
		float: right

		h2
			font-size: 30px
			font-family: $light
			margin-bottom: 20px


		p
			font-size: 15px
			font-family: $light


		a
			background: #335476
			color: #fafafa
			font-family: $light
			text-align: center
			padding: 20px
			display: block
			margin: 20px auto
			font-size: 15px

+media-query(med)
	section.tour
		padding-top: 0px
		.video
			margin: 20px 0px
			display: block
			float: none
			width: 100%


		//caso queira que essa seção apareça de novo, basta apagar as duas linhas abaixo e chamar o mesmo estilo acima tanto para .video quanto para .text
		.text
			display: none


section.footer-subs
	padding: 60px 0px
	background: #fdfdfd

	.container
		max-width: 600px

	h1
		font-size: 24px
		font-family: $light
		color: #1d1d1f
		text-align: center

	.divisao
		width: 100%
		height: 1px
		background: #1d1d1e
		display: block
		margin: 50px 0px

	ul
		li
			display: block
			text-align: center
			font-family: $light
			margin: 20px 0px

	.center
		text-align: center
	ul.social
		display: inline-block
		+clearfix
		margin: 10px auto
		li
			float: left
			margin: 5px
			a
				width: 38px
				height: 38px
				display: block
				background: url('../img/facebook.png')
				+transition(0.3s ease-out)

				&:hover
					+rotateZ(360deg)

				&.instagram
					background: url('../img/instagram.png')

	form
		width: 100%
		margin: 20px auto
		display: block
		input
			width: 100%
			height: 50px
			border: 1px solid #1d1d1e
			font-family: $light
			color: #1d1d1e
			font-size: 16px
			padding: 10px
			+box-sizing(border-box)

		button
			width: 100%
			padding: 20px
			text-transform: uppercase
			margin: 10px auto
			display: block
			background: #4c1a0d

			&:hover
				background: rgb(115, 51, 51)

.relative
	position: relative

.after-datepicker
	display: block
	position: fixed
	width: 100vw
	height: 100%
	background: rgba(255,255,255,0.6)
	left: 0
	top: 0
	z-index: 99999999

#ui-datepicker-div
	position: fixed !important
	width: 80vw
	// height: 60vh
	padding: 5px
	top: 50vh !important
	left: 50vw !important
	margin-top: -30vh !important
	margin-left: -180px !important
	max-width: 360px
	z-index: 9999999999 !important

	.ui-datepicker-calendar
		span
			font-size: 70% !important


	td a
		padding: 7px


+media-query(almostsupersmall)
	#ui-datepicker-div
		margin-left: -44vw !important


+media-query(supersmall)
	#ui-datepicker-div
		td a
			padding: 6px 5px
